  <div class="community-background">
    <% if @community.community_image.attached? %>
      <%= image_tag @community.community_image %>
    <% end %>
  </div>
  <div class="community-info">
    <%= render 'communities/info', community: @community, currentUser: @currentUser %>
  </div>
  <div class="community-main">
    <div class="meetings-all">
      <div class="meetings-left">
        <div class="active-meetings">
          <div class="all-active-meetings">
            <% if @nextMeeting.present? %>
              <div class="next-meeting">
                <div class="next-meeting-content">
                  <div class="meeting-pre-edit">
                    <%= link_to community_meeting_pre_edit_path(@community.id, @nextMeeting.id) do %>
                      <i class="fa-regular fa-pen-to-square"></i>
                    <% end %>
                  </div>
                  <div class="meeting-name">
                    <% if @nextMeeting.name.present? %>
                      <%= @nextMeeting.name %>
                    <% else %>
                      題名がありません
                    <% end %>
                  </div>
                  <div class="meeting-count-timer" id="meetingCountTimer"></div>
                  <div class="meeting-detail">
                    <% if @nextMeeting.date.present? %>
                      <%= @nextMeeting.date.to_s(:datetime_jp) %>
                    <% else %>
                      日時未定
                    <% end %><br>
                    <% if @nextMeeting.place.present? %>
                      @<%= @nextMeeting.place %>
                    <% else %>
                      場所未定
                    <% end %>
                  </div>
                  <div class="meeting-start"><%= link_to "会議を始める", edit_community_meeting_path(@community.id, @nextMeeting.id), class: "meeting-start-cta" %></div>
                </div>
              </div>
            <% else %>
              <div class="next-meeting-alt-view-wrapper">
                <div class="next-meeting-alt-view">
                  <div class="alt-text">定期的なコミュニケーションの場を設けましょう！<br>かしこまった内容でなくても構いません。</div>
                  <div class="meeting-new"><%= link_to "会議を設定", new_community_meeting_path(@community.id), class: "dashboard-meeting-new-cta" %></div>
                </div>
              </div>
            <% end %>
            <% if @meetingsInProgress.present? %>
              <% @meetingsInProgress.each do |meeting| %>
              <div class="meeting-in-progress">
                <div class="meeting-in-progress-content">
                  <div class="meeting-name"><%= meeting.name %></div>
                  <div class="meeting-in-progress-text">編集中です...</div>
                  <div class="back-to-meeting"><%= link_to "議事録に戻る", edit_community_meeting_path(@community.id, meeting.id), class: "back-to-meeting-cta" %></div>
                </div>
              </div>
              <% end %>
            <% end %>
          </div>
        </div>
        <div class="past-meetings">
          <div class="past-meetings-header">
            <div class="section-title">過去の会議一覧</div>
          </div>
          <div class="all-past-meetings-wrapper">
            <div class="all-past-meetings">
              <% if @pastMeetings.present? %>
                <% @pastMeetings.each do |meeting| %>
                  <div class="each-past-meeting">
                    <div class="each-past-meeting-top">
                      <div class="each-past-meeting-name">
                        <% if meeting.name.present? %>
                          <%= meeting.name %>
                        <% end %>
                      </div>
                      <div class="each-past-meeting-date">
                        <% if meeting.date.present? %>
                          <%= meeting.date.to_s(:datetime_jp) %>
                        <% else %>
                          <%= meeting.updated_at.to_s(:datetime_jp) %>
                        <% end %>
                      </div>
                      <div class="each-past-meeting-detail">
                        <i class="fa-solid fa-ellipsis each-past-meeting-detail-cta"></i>
                      </div>
                    </div>
                    <div class="each-past-meeting-bottom" style="display:none;">
                      <div class="each-past-meeting-section">
                        <div class="each-past-meeting-content-title">参加者</div>
                        <div class="each-past-meeting-content-subject">
                          <% if meeting.users.present? %>
                            <% meeting.users.each do |user| %>
                              <%= user.name %>
                            <% end %>
                          <% else %>
                            <span class="each-past-meeting-content-subject-alt-text">※登録されていません。</span>
                          <% end %>
                        </div>
                      </div>
                      <div class="each-past-meeting-section">
                        <div class="each-past-meeting-content-title">場所</div>
                        <div class="each-past-meeting-content-subject">
                          <% if meeting.place.present? %>
                            <%= meeting.place %>
                          <% else %>
                            <span class="each-past-meeting-content-subject-alt-text">※指定されていません。</span>
                          <% end %>
                        </div>
                      </div>
                      <div class="each-past-meeting-section">
                        <div class="each-past-meeting-content-title">事前アジェンダ</div>
                        <div class="each-past-meeting-content-subject">
                          <% if meeting.agenda.present? %>
                            <%= safe_join(meeting.agenda.split("\n"),tag(:br)) %>
                          <% else %>
                            <span class="each-past-meeting-content-subject-alt-text">※記載されていません。</span>
                          <% end %>
                        </div>
                      </div>
                      <div class="each-past-meeting-section">
                        <div class="each-past-meeting-content-title">議事録</div>
                        <div class="each-past-meeting-content-subject">
                          <% if meeting.content.present? %>
                            <%= safe_join(meeting.content.split("\n"),tag(:br)) %>
                          <% else %>
                            <span class="each-past-meeting-content-subject-alt-text">※記載されていません。</span>
                          <% end %>
                        </div>
                      </div>
                      <div class="each-past-meeting-section">
                        <div class="each-past-meeting-content-title">TODO</div>
                        <div class="each-past-meeting-content-subject">
                          <% if meeting.todo.present? %>
                            <%= safe_join(meeting.todo.split("\n"),tag(:br)) %>
                          <% else %>
                            <span class="each-past-meeting-content-subject-alt-text">※記載されていません。</span>
                          <% end %>
                        </div>
                      </div>
                    </div>
                  </div>
                <% end %>
              <% else %>
                <div class="alt-text">過去に行ったミーティングはありません。</div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <div class="meetings-right">
        <%= render 'articles/meeting_articles' %>
      </div>
    </div>
  </div>

<script>
$(document).ready(function() {
  $(".each-past-meeting-detail-cta").click(function() {
    $(this).closest(".each-past-meeting").find(".each-past-meeting-bottom").toggle();
  });
});
</script>