  <div class="community-background">
    <%= attachment_image_tag @community, :community_image, format: 'jpeg', fallback: "sunset_mountains.jpg" %>
  </div>
  <div class="community-info">
    <%= render 'communities/info', community: @community, currentUser: @currentUser %>
  </div>
  <div class="community-main">
    <div class="meetings">
      <div class="meetings-header">
        <div class="section-title">アクティブなミーティング</div>
        <div class="meeting-new">
          <% unless @nextMeeting.present? %>
            <%= link_to new_community_meeting_path(@community.id) do %>
              <i class="fa-regular fa-square-plus"></i>
            <% end %>
          <% end %>
        </div>
      </div>
      <div class="all-active-meetings">
        <% if @nextMeeting.present? %>
          <div class="next-meeting">
            <div class="next-meeting-content">
              <div class="meeting-pre-edit">
                <%= link_to community_meeting_pre_edit_path(@community.id, @nextMeeting.id) do %>
                  <i class="fa-regular fa-pen-to-square"></i>
                <% end %>
              </div>
              <div class="meeting-name">
                <% if @nextMeeting.name.present? %>
                  <%= @nextMeeting.name %>
                <% else %>
                  <p>題名がありません</p>
                <% end %>
              </div>
              <div class="meeting-count-timer" id="meetingCountTimer"></div>
              <div class="meeting-detail">
                <% if @nextMeeting.date.present? %>
                  <%= @nextMeeting.date.to_s(:datetime_jp) %>
                <% end %><br>
                <% if @nextMeeting.place.present? %>
                   @<%= @nextMeeting.place %>
                <% end %>
              </div>
              <div class="meeting-start"><%= link_to "ミーティングを始める", edit_community_meeting_path(@community.id, @nextMeeting.id), class: "meeting-start-cta" %></div>
            </div>
          </div>
        <% else %>
          <div class="next-meeting">
            <div class="meeting-content">
              <div class="meeting-index">
                  <div class="meeting-index-letter">予定しているミーティング</div>
                </div>
              <div class="alt-text">実施予定のミーティングはありません。</div>
            </div>
          </div>
        <% end %>
        <% if @meetingsInProgress.present? %>
          <% @meetingsInProgress.each do |meeting| %>
          <div class="meeting-in-progress">
            <div class="meeting-in-progress-content">
              <div class="meeting-name"><%= meeting.name %></div>
              <div class="back-to-meeting"><%= link_to "議事録に戻る", edit_community_meeting_path(@community.id, meeting.id), class: "back-to-meeting-cta" %></div>
            </div>
          </div>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="past-meetings">
      <div class="past-meetings-header">
        <div class="section-title">過去のミーティング一覧</div>
      </div>
      <div class="past-meeting">
        <% if @pastMeetings.present? %>
          <% @pastMeetings.each do |meeting| %>
          <div class="past-meeting-content">
            <div class="past-meeting-content-top">
              <div class="past-meeting-name"><%= meeting.name %></div>
              <div class="past-meeting-date"><%= meeting.date.to_s(:datetime_jp) %></div>
              <div class="past-meeting-detail">
                <%= link_to community_meeting_path(@community.id, meeting.id), class: "past-meeting-detail-cta" do %>
                  <i class="fa-solid fa-ellipsis"></i>
                <% end %>
              </div>
            </div>
            <div class="past-meeting-content-bottom">
              <div class="past-meeting-member">
                <span>参加者</span>
                <span>
                  <% meeting.users.each do |user| %>
                    <%= user.name %>
                  <% end %>
                </span>
              </div>
              <div class="past-meeting-agenda">
                <%= safe_join(meeting.agenda.split("\n"),tag(:br)) %>
              </div>
            </div>
          </div>
          <% end %>
        <% else %>
          <div class="alt-text">過去に行ったミーティングはありません。</div>
        <% end %>
      </div>
    </div>
  </div>

    <script>
  //次のミーティングまでのカウントダウン
    //指定日程を定義
    var y = gon.year; // 年
    var m = gon.month; // 月
    var d = gon.day; // 日
    var tgday = y + "/" + m + "/" + d;

    var now = new Date();
    var days = Math.ceil((Date.parse(tgday) - now.getTime()) / (24 * 60 * 60 * 1000));

    // 表示開始
    if(days == 0) {
    	document.getElementById("meetingCountTimer").innerHTML = "当日です！"; // 指定日当日の表示
    }
    else if(days < 0) {
    	days = Math.abs(days);
    	document.getElementById("meetingCountTimer").innerHTML =  days + "日経過"; // 指定日後の表示
    }
    else {
    	document.getElementById("meetingCountTimer").innerHTML = "あと" + days + "日"; // 指定日前の表示
    }
  </script>