  <div class="community-background">
    <%= attachment_image_tag @community, :community_image, format: 'jpeg' %>
  </div>
  <div class="community-info">
    <%= render 'communities/info', community: @community, currentUser: @currentUser %>
  </div>
  <div class="community-main">
    <div class="page-title">新規ミーティング作成</div>
    <div>
      <%= form_with(model: [@community, @meeting], url: community_meetings_path{@community.id}, local:true, class: "form") do |f| %> <!-- communityモデル、mottoモデルそれぞれにデータを保存するため、両モデル指定-->
        <div class="form-section">
          <label><%= f.label :next_agenda, "ミーティング名", class: "form-label" %><span class="form-note">必須</span></label>
          <div>
            <%= f.text_field :name, class: "form-area-small" %>
          </div>
        </div>
        <div class="form-section">
          <label><%= f.label :agenda, "話したいこと", class: "form-label" %><span class="form-note-optional">任意</span></label>
          <div>
            <%= f.text_area :agenda, class: "form-area-large" %>
          </div>
        </div>
        <div class="form-section">
          <label><%= f.label :place, "場所", class: "form-label" %><span class="form-note-optional">任意</span></label>
          <div>
            <%= f.text_field :place, class: "form-area-small" %>
          </div>
        </div>
        <div class="form-section">
          <label><%= f.label :date, "実施予定日", class: "form-label" %><span class="form-note">必須</span></label>
          <div>
            <%= f.datetime_field :date %>
          </div>
        </div>
        <div class="submittion">
          <%= f.submit "作成", class: "done-btn" %>
        </div>
      <% end %>
    </div>
  </div>