  <div class="community-background">
    <% if @community.community_image.attached? %>
      <%= image_tag @community.community_image %>
    <% end %>
  </div>
  <div class="community-info">
    <%= render 'communities/info', community: @community, currentUser: @currentUser %>
  </div>
  <div class="community-main">
    <div class="meetings-all">
      <div class="meetings-left">
        <div class="gray-background">
          <div class="section-title">新規会議作成</div>
          <%= form_with(model: [@community, @meeting], url: community_meetings_path{@community.id}, local:true, class: "form") do |f| %> <!-- communityモデル、mottoモデルそれぞれにデータを保存するため、両モデル指定-->
            <div class="form-section">
              <label><%= f.label :next_agenda, "会議名", class: "form-label" %><span class="form-note">必須</span></label>
              <div>
                <%= f.text_field :name, class: "form-area-small" %>
              </div>
              <div id="error_explanation">
                <% if @meeting.errors.any? && @meeting.errors.has_key?(:name) %>
                  <ul class="all-error-messages">
                    <% @meeting.errors[:name].each do |message| %>
                      <li class="each-error-message"><%= message %></li>
                    <% end %>
                  </ul>
                <% end %>
              </div>
            </div>
            <div class="form-section">
              <label><%= f.label :agenda, "話したいこと", class: "form-label" %><span class="form-note-optional">任意</span></label>
              <div>
                <%= f.text_area :agenda, class: "form-area-large" %>
              </div>
            </div>
            <div class="form-section">
              <label><%= f.label :place, "場所", class: "form-label" %><span class="form-note-optional">任意</span></label>
              <div>
                <%= f.text_field :place, class: "form-area-small" %>
              </div>
            </div>
            <div class="form-section">
              <label><%= f.label :date, "実施予定日", class: "form-label" %><span class="form-note">必須</span></label>
              <div>
                <%= f.datetime_field :date %>
              </div>
              <div id="error_explanation">
                <% if @meeting.errors.any? && @meeting.errors.has_key?(:date) %>
                  <ul class="all-error-messages">
                    <% @meeting.errors[:date].each do |message| %>
                      <li class="each-error-message"><%= message %></li>
                    <% end %>
                  </ul>
                <% end %>
              </div>
            </div>
            <div class="form-section">
              <label><%= f.label :user_ids, "参加予定メンバー", class: "form-label" %><span class="form-note">必須</span></label>
              <div class="form-check-box">
                <%= collection_check_boxes(:meeting, :user_ids, User.joins(:community_users).where(community_users: {community_id: params[:community_id]}), :id, :name, include_hidden: false) do |user| %>
                  <div><%= user.check_box %></div>
                  <div class="form-check-box-label"><%= user.text %></div>
                <% end %>
              </div>
              <div id="error_explanation">
                <% if @meeting.errors.any? && @meeting.errors.has_key?(:user_ids) %>
                  <ul class="all-error-messages">
                    <% @meeting.errors[:user_ids].each do |message| %>
                      <li class="each-error-message"><%= message %></li>
                    <% end %>
                  </ul>
                <% end %>
              </div>
            </div>
            <div class="submission">
              <%= f.submit "作成", class: "done-btn" %>
            </div>
          <% end %>
        </div>
      </div>
      <div class="meetings-right">
        <%= render 'articles/meeting_articles' %>
      </div>
    </div>
  </div>