  <div class="community-info">
    <%= render 'communities/info', community: @community, currentUser: @currentUser %>
  </div>

  <div class="community-main">
    <p class="page-title">ミーティング内容変更</p>
    <div>
      <%= form_with(model: [@community, @meeting], url: community_meeting_path(@community.id, @meeting.id), local:true) do |f| %> <!-- communityモデル、mottoモデルそれぞれにデータを保存するため、両モデル指定-->
        <label>ミーティング名</label>
        </div>
          <%= f.text_area :name, placeholder: "必須" %>
        <div>
        <label>話したい内容</label>
        </div>
          <%= f.text_area :agenda, placeholder: "必須" %>
        <div>
        <label>実施予定日</label>
        </div>
          <%= f.datetime_field :date, placeholder: "必須" %>
        <div>
        </div>
          <%= f.submit "変更完了", name: 'change' %>
        <div>
      <% end %>
    </div>
  </div>