  <div class="community-info">
    <%= render 'communities/info', community: @community, currentUser: @currentUser %>
  </div>

  <div class="community-main">
    <p class="page-title">ミーティング内容変更</p>
    <div>
      <%= form_with(model: [@community, @meeting], url: community_meeting_path(@community.id, @meeting.id), local:true) do |f| %> <!-- communityモデル、mottoモデルそれぞれにデータを保存するため、両モデル指定-->
        <div>
          <label><%= f.label :name, "ミーティング名" %><span class="form-note">必須</span></label>
          <div>
            <%= f.text_area :name %>
          </div>
        </div>
        <div>
          <label><%= f.label :agenda, "話したいこと" %></label>
          <div>
            <%= f.text_area :agenda %>
          </div>
        </div>
        <div>
          <label><%= f.label :date, "予定日" %><span class="form-note">必須</span></label>
          <div>
            <%= f.datetime_field :date %>
          </div>
        </div>
        <div>
          <%= f.submit "変更完了", name: 'change' %>
        </div>
      <% end %>
    </div>
    <div>
      <%= link_to "予定削除", community_meeting_path(@community.id, @meeting.id), method: :delete %>
    </div>
  </div>