  <div class="community-background">
    <% if @community.community_image.attached? %>
      <%= image_tag @community.community_image %>
    <% end %>
  </div>
  <div class="community-info">
    <%= render 'communities/info', community: @community, currentUser: @currentUser %>
  </div>
  <div class="community-main">
    <div class="meetings-all">
      <div class="meetings-left">
        <div class="gray-background">
          <div class="section-title">会議内容の変更</div>
          <div class="edit-subject-info">
            <div class="edit-subject-info-section">
              <div class="edit-subject-info-label">会議名</div>
              <div class="edit-subject-info-content"><%= @meeting.name %></div>
            </div>
            <div class="edit-subject-info-section">
              <div class="edit-subject-info-label">話したいこと</div>
              <% if @meeting.agenda.present? %>
                <div class="edit-subject-info-content"><%= safe_join(@meeting.agenda.split("\n"),tag(:br)) %></div>
              <% else %>
                <div class="edit-subject-info-content">※未定</div>
              <% end %>
            </div>
            <div class="edit-subject-info-section">
              <div class="edit-subject-info-label">場所</div>
              <% if @meeting.place.present? %>
                <div class="edit-subject-info-content"><%= @meeting.place %></div>
              <% else %>
                <div class="edit-subject-info-content">※未定</div>
              <% end %>
            </div>
            <div class="edit-subject-info-section">
              <div class="edit-subject-info-label">予定日時</div>

              <% if @meeting.date.present? %>
                <div class="edit-subject-info-content"><%= @meeting.date.to_s(:datetime_jp) %>日間</div>
              <% end %>
            </div>
            <div class="edit-subject-info-section">
              <div class="edit-subject-info-label">参加メンバー</div>
              <div class="edit-subject-info-content">
                <% @meeting.users.each do |user| %>
                  <%= user.name %>
                <% end %>
              </div>
            </div>
          </div>
          <%= form_with(model: [@community, @meeting], url: community_meeting_path(@community.id, @meeting.id), local:true, class: "form") do |f| %> <!-- communityモデル、mottoモデルそれぞれにデータを保存するため、両モデル指定-->
            <div class="form-section">
              <label><%= f.label :name, "会議名", class: "form-label" %><span class="form-note">必須</span></label>
              <div>
                <%= f.text_field :name, class: "form-area-small" %>
              </div>
              <div id="error_explanation">
                <% if @meeting.errors.any? && @meeting.errors.has_key?(:name) %>
                  <ul class="all-error-messages">
                    <% @meeting.errors[:name].each do |message| %>
                      <li class="each-error-message"><%= message %></li>
                    <% end %>
                  </ul>
                <% end %>
              </div>
            </div>
            <div class="form-section">
              <label><%= f.label :agenda, "話したいこと", class: "form-label" %><span class="form-note-optional">任意</span></label>
              <div>
                <%= f.text_area :agenda, class: "form-area-large" %>
              </div>
            </div>
            <div class="form-section">
              <label><%= f.label :place, "場所", class: "form-label" %><span class="form-note-optional">任意</span></label>
              <div>
                <%= f.text_field :place, class: "form-area-small" %>
              </div>
            </div>
            <div class="form-section">
              <label><%= f.label :date, "予定日時", class: "form-label" %><span class="form-note">必須</span></label>
              <div>
                <%= f.datetime_field :date %>
              </div>
              <div id="error_explanation">
                <% if @meeting.errors.any? && @meeting.errors.has_key?(:date) %>
                  <ul class="all-error-messages">
                    <% @meeting.errors[:date].each do |message| %>
                      <li class="each-error-message"><%= message %></li>
                    <% end %>
                  </ul>
                <% end %>
              </div>
            </div>
            <div class="form-section">
              <label><%= f.label :user_ids, "参加予定メンバー", class: "form-label" %><span class="form-note">必須</span></label>
              <div class="form-check-box">
                <%= collection_check_boxes(:meeting, :user_ids, User.joins(:community_users).where(community_users: {community_id: params[:community_id]}), :id, :name, include_hidden: false) do |user| %>
                  <div><%= user.check_box %></div>
                  <div class="form-check-box-label"><%= user.text %></div>
                <% end %>
              </div>
              <div id="error_explanation">
                <% if @meeting.errors.any? && @meeting.errors.has_key?(:user_ids) %>
                  <ul class="all-error-messages">
                    <% @meeting.errors[:user_ids].each do |message| %>
                      <li class="each-error-message"><%= message %></li>
                    <% end %>
                  </ul>
                <% end %>
              </div>
            </div>
            <div class="submission">
              <%= f.submit "変更完了", name: 'change', class: "done-btn" %>
              <%= link_to "削除", community_meeting_path(@community.id, @meeting.id), method: :delete, class: "alt-link-cta" %>
            </div>
          <% end %>
        </div>
      </div>
      <div class="meetings-right">
        <%= render 'articles/meeting_articles' %>
      </div>
    </div>
  </div>