  <div class="community-background">
    <% if @community.community_image.attached? %>
      <%= image_tag @community.community_image %>
    <% end %>
  </div>
  <div class="community-info">
    <%= render 'communities/info', community: @community, currentUser: @currentUser %>
  </div>
  <div class="community-main">
    <div class="privileges-penalties-all">
      <div class="privileges-penalties-left">
        <div class="page-title">報酬編集</div>
        <div>
          <%= form_with(model:[@community, @privilege], local:true, class: "form") do |f| %>
            <div class="form-section">
              <label><%= f.label :content, "内容", class: "form-label" %><span class="form-note">必須</span></label>
              <div>
                <%= f.text_area :content, class: "form-area-small" %>
              </div>
              <div class="comment">
                <i class="fa-solid fa-circle-info">設定のヒント</i>
                <div class="comment-content">
                  コミュニティのゴール達成に向けて<br>
                  更に意欲が湧くような報酬はなんですか？
                </div>
              </div>
            </div>
            <div class="form-section">
              <label><%= f.label :point, "消費する配当ポイント", class: "form-label" %><span class="form-note">必須</span></label>
              <div>
                <%= f.text_field :point, class: "form-area-small" %>
              </div>
            </div>
            <div class="submittion">
              <%= f.submit "編集完了", class: "done-btn" %>
              <%= link_to '削除', community_privilege_path(@community.id, @privilege.id), method: :delete, class: "alt-link-cta" %>
            </div>
          <% end %>
        </div>
      </div>
      <div class="privileges-penalties-right">
        <%= render 'articles/privilege_penalty_articles' %>
      </div>
    </div>
  </div>