  <div class="community-info">
    <%= render 'communities/info', community: @community, currentUser: @currentUser %>
  </div>

  <div class="community-main">
    <p class="page-title">報酬編集</p>
    <div class="comment">
      <p>
        <b>制定ポイント</b><br>
        コミュニティのゴール達成に向けて<br>
        更に意欲が湧くような報酬はなんですか？
      </p>
    </div>
    <div>
      <%= form_with(model:[@community, @privilege], local:true) do |f| %>
      <div>
        <label><%= f.label :content, "内容" %><span class="form-note">必須</span></label>
        <div>
          <%= f.text_area :content %>
        </div>
      </div>
      <div>
        <label><%= f.label :point, "消費する配当ポイント" %><span class="form-note">必須</span></label>
        <div>
          <%= f.text_area :point %>
        </div>
      </div>
        <div>
        <%= f.submit "編集完了" %>
        </div>
      <% end %>
    <div>
      <span><%= link_to '削除', community_privilege_path(@community.id, @privilege.id), method: :delete %></span>
    </div>
    </div>
  </div>