  <div class="community-info">
    <%= render 'communities/info', community: @community, currentUser: @currentUser %>
  </div>

  <p class="page-title">報酬&ペナルティ</p>

  <div class="monthly_point round">
    <p class="section-title">今月<%= @user.user.name %>さんに配当されたポイント</p>
    <p><%= @user.monthly_point %></p>
    <p>
    <% if @user.monthly_point < 0 %>
      ポイントが0になるようにペナルティを受けなければなりません。<br>
      ※余剰ポイントは翌月に繰り越されます。
    <% elsif @user.monthly_point > 0 %>
      ポイントが0になるまで報酬を受けられます。<br>
      ※余剰ポイントは翌月に繰り越されます。
    <% else %>
      今月中に受けられる報酬、受けなければいけないペナルティはありません。
    <% end %>
    </p>
    <div>
      <p class="section-title">今月受け取った報酬</p> <!-- standbyテーブルから取得 -->
      <p class="section-title">今月実行したペナルティ</p> <!-- standbyテーブルから取得 -->
    </div>
  </div>

  <div class="privileges-for-now round">
    <p class="section-title">今月受けられる報酬</p> <!-- 特典のポイントより個人のポイントが高ければ選択肢に現れる -->
    <table>
      <thead>
        <tr>
          <th>内容</th>
          <th>消費ポイント</th>
          <th colspan="1"></th>
        </tr>
      </thead>
      <tbody>
      <% @community.privileges.each do |privilege| %>
       <% if privilege.point <= @user.monthly_point %> <!-- userのpointをdefaultで0に指定、既存レコードは直接編集 -->
          <tr>
           <td><%= privilege.content %></td>
           <td><%= privilege.point %></td>
           <td><%= link_to "取得完了", community_privilege_execute_path(@community.id, privilege.id) %></span></td>
          </tr>
          <% else %>
          <tr>
           <td colspan="3">今月、受けられる報酬はありません。</td>
          </tr>
       <% end %>
      <% end %>
      </tbody>
    </table>
  </div>

  <div class="penalties-for-now round">
    <p class="section-title" >今月中に実行が必要なペナルティ</p> <!-- 特典のポイントより個人のポイントが高ければ選択肢に現れる -->
    <table>
      <thead>
       <tr>
        <td>内容</td>
        <td>回復ポイント</td>
        <td colspan="1"></td>
       </tr>
      </thead>
      <tbody>
      <% @community.penalties.each do |penalty| %>
       <% if -(penalty.point) >= @user.monthly_point %> <!-- userのpointをdefaultで0に指定、既存レコードは直接編集 -->
        <tr>
         <td><%= penalty.content %></td>
         <td><%= penalty.point %></td>
         <td>
          <!-- まだ申請されてなければlink表示、standbyに居れば「申請中」の表示をしたい。-->
          <span><%= link_to '実行完了許可', community_penalty_execute_path(@community.id, penalty.id) %><span>
         </td>
       <% else %>
        <tr>
         <td colspan="3">今月、実行が必要なペナルティはありません。</td>
        </tr>
       <% end %>
      <% end %>
      </tbody>
    </table>
  </div>

  <div class="all-privileges round">
    <div>
     <p class="section-title">報酬一覧</p>
     <table>
      <thead>
       <tr>
        <td>内容</td>
        <td>消費ポイント</td>
        <td colspan="2"></td>
       </tr>
      </thead>
      <tbody>
      <% @community.privileges.each do |privilege| %>
       <tr>
        <td><%= privilege.content %></td>
        <td><%= privilege.point %></td>
        <td>
          <span><%= link_to '削除', community_privilege_path(@community.id, privilege.id), method: :delete %></span>
          <span><%= link_to "編集", edit_community_privilege_path(@community, privilege.id) %></span>
        </td>
       </tr>
      <% end %>
      </tbody>
     </table>
    </div>
    <div>
     <p><%= link_to "報酬を新規作成", new_community_privilege_path(@community.id) %></p>
    </div>
  </div>

  <div class="all-penalties round">
    <div>
     <p class="section-title">ペナルティ一覧</p>
     <table>
      <thead>
       <tr>
        <td>内容</td>
        <td>回復ポイント</td>
        <td colspan="2"></td>
       </tr>
      </thead>
      <tbody>
      <% @community.penalties.each do |penalty| %>
       <tr>
        <td><%= penalty.content %></td>
        <td><%= penalty.point %></td>
        <td>
          <span><%= link_to '削除', community_penalty_path(@community.id, penalty.id), method: :delete %></span>
          <span><%= link_to "編集", edit_community_penalty_path(@community, penalty.id) %></span>
        </td>
       </tr>
      <% end %>
      </tbody>
     </table>
    </div>
    <div>
     <p><%= link_to "ペナルティを新規作成", new_community_penalty_path(@community.id) %></p>
    </div>
  </div>