  <div class="community-background">
    <% if @community.community_image.attached? %>
      <%= image_tag @community.community_image %>
    <% end %>
  </div>
  <div class="community-info">
    <%= render 'communities/info', community: @community, currentUser: @currentUser %>
  </div>
  <div class="community-main">
    <div class="privileges-penalties-all">
      <div class="privileges-penalties-left">
        <% if notice.present? %>
          <div id="notice" class="notice"><%= notice %></div>
        <% end %>
        <div class="privileges">
          <div class="privileges-header">
            <div class="section-title">報酬一覧</div>
            <div class="privilege-new-header">
              <% if @community.privileges.present? %>
                <%= link_to new_community_privilege_path(@community.id) do %>
                  <i class="fa-regular fa-square-plus"></i>
                <% end %>
              <% end %>
            </div>
          </div>
          <% if @community.privileges.present? %>
            <div class="all-privileges-wrapper">
              <div class="all-privileges">
                <% @community.privileges.each do |privilege| %>
                  <div class="each-privilege">
                    <div class="each-privilege-edit">
                      <%= link_to edit_community_privilege_path(@community, privilege.id) do %>
                        <i class="fa-regular fa-pen-to-square"></i>
                      <% end %>
                    </div>
                    <div class="each-privilege-content"><%= privilege.content %></div>
                    <div class="each-privilege-point"><%= privilege.point %><span class="point-letter">ポイント消費</span></div>
                    <div class="each-privilege-execute">
                      <% if privilege.point < @user.monthly_point %>
                        <%= link_to "取得完了", community_privilege_execute_path(@community.id, privilege.id), class: "each-privilege-execute-can-cta" %>
                      <% else %>
                        <span class="each-privilege-execute-cannot-cta">※現在は取得できません。</span>
                      <% end %>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
          <% else %>
            <div class="alt-text">ユーザーの累積ポイントがプラスの時に受けられる報酬を決めましょう！</div>
            <div class="privilege-new"><%= link_to "報酬設定", new_community_privilege_path(@community.id), class: "privilege-new-cta" %></div>
          <% end %>
        </div>
        <div class="penalties">
          <div class="penalties-header">
            <div class="section-title">ペナルティ一覧</div>
            <div class="penalties-new-header">
              <% if @community.penalties.present? %>
                <%= link_to new_community_penalty_path(@community.id) do %>
                  <i class="fa-regular fa-square-plus"></i>
                <% end %>
              <% end %>
            </div>
          </div>
          <% if @community.penalties.present? %>
            <div class="all-penalties-wrapper">
              <div class="all-penalties">
                  <% @community.penalties.each do |penalty| %>
                    <div class="each-penalty">
                      <div class="each-penalty-edit">
                        <%= link_to edit_community_penalty_path(@community, penalty.id) do %>
                          <i class="fa-regular fa-pen-to-square"></i>
                        <% end %>
                      </div>
                      <div class="each-penalty-content"><%= penalty.content %></div>
                      <div class="each-penalty-point"><%= penalty.point %><span class="point-letter">ポイント回復</span></div>
                      <div class="each-penalty-execute">
                      <% if -(penalty.point) > @user.monthly_point %>
                        <%= link_to '完了許可申請', community_penalty_execute_path(@community.id, penalty.id), class: "each-penalty-execute-can-cta" %>
                      <% else %>
                        <span class="each-penalty-execute-cannot-cta">※現在は実行不要です。</span>
                      <% end %>
                    </div>
                    </div>
                  <% end %>
              </div>
            </div>
          <% else %>
            <div class="alt-text">ユーザーの累積ポイントがマイナスの時に受けるペナルティを決めましょう！</div>
            <div class="penalty-new"><%= link_to "ペナルティ設定", new_community_penalty_path(@community.id), class: "penalty-new-cta" %></div>
          <% end %>
        </div>
      </div>
      <div class="privileges-penalties-right">
        <%= render 'articles/privilege_penalty_articles' %>
      </div>
    </div>
  </div>