  <div class="community-info">
    <%= render 'communities/info', community: @community, currentUser: @currentUser %>
  </div>

  <div class="community-main">
    <p class="page-title">報酬&ペナルティ</p>
    <div class="all-privileges round">
      <div>
        <div class="all-privileges-header">
          <p class="section-title">報酬一覧</p>
          <p><%= link_to "報酬を新規作成", new_community_privilege_path(@community.id) %></p>
        </div>
        <table>
          <thead>
            <tr>
              <th>内容</th>
              <th>消費ポイント</th>
              <th colspan="2"></th>
            </tr>
          </thead>
          <tbody>
          <% @community.privileges.each do |privilege| %>
            <tr>
              <td><%= privilege.content %></td>
              <td><%= privilege.point %></td>
              <td>
                <span><%= link_to '削除', community_privilege_path(@community.id, privilege.id), method: :delete %></span>
                <span><%= link_to "編集", edit_community_privilege_path(@community, privilege.id) %></span>
              </td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
    <div class="all-penalties round">
      <div>
        <div class="all-penalties-header">
          <p class="section-title">ペナルティ一覧</p>
          <p><%= link_to "ペナルティを新規作成", new_community_penalty_path(@community.id) %></p>
        </div>
        <table>
          <thead>
            <tr>
              <th>内容</th>
              <th>回復ポイント</th>
              <th colspan="2"></th>
            </tr>
          </thead>
          <tbody>
          <% @community.penalties.each do |penalty| %>
            <tr>
              <td><%= penalty.content %></td>
              <td><%= penalty.point %></td>
              <td>
                <span><%= link_to '削除', community_penalty_path(@community.id, penalty.id), method: :delete %></span>
                <span><%= link_to "編集", edit_community_penalty_path(@community, penalty.id) %></span>
              </td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>