  <div class="community-background">
    <%= attachment_image_tag @community, :community_image, format: 'jpeg', fallback: "sunset_mountains.jpg" %>
  </div>
  <div class="community-info">
    <%= render 'communities/info', community: @community, currentUser: @currentUser %>
  </div>
  <div class="community-main">
    <div class="privileges">
      <div>
        <div class="all-privileges-header">
          <p class="privilege-new"><%= link_to "報酬を新規作成", new_community_privilege_path(@community.id) %></p>
        </div>
        <div class="all-privileges-wrapper">
          <div class="all-privileges">
            <% @community.privileges.each do |privilege| %>
              <div class="each-privilege">
                <div class="each-privilege-title">報酬</div>
                <div class="each-privilege-edit">
                  <%= link_to edit_community_privilege_path(@community, privilege.id) do %>
                    <i class="fa-regular fa-pen-to-square"></i>
                  <% end %>
                </div>
                <div class="each-privilege-content"><%= privilege.content %></div>
                <div class="each-privilege-point"><%= privilege.point %><span class="point-letter">ポイント消費</span></div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="penalties">
      <div>
        <div class="all-penalties-header">
          <p><%= link_to "ペナルティを新規作成", new_community_penalty_path(@community.id) %></p>
        </div>
        <div class="all-penalties-wrapper">
          <div class="all-penalties">
            <% @community.penalties.each do |penalty| %>
              <div class="each-penalty">
                <div class="each-penalty-title">ペナルティ</div>
                <div class="each-penalty-edit">
                  <%= link_to edit_community_penalty_path(@community, penalty.id) do %>
                    <i class="fa-regular fa-pen-to-square"></i>
                  <% end %>
                </div>
                <div class="each-penalty-content"><%= penalty.content %></div>
                <div class="each-penalty-point"><%= penalty.point %><span class="point-letter">ポイント回復</span></div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>