  <div class="community-info">
    <%= render 'communities/info', community: @community, currentUser: @currentUser %>
  </div>

  <div class="community-main">
    <p class="page-title">報酬新規作成</p>
    <div class="comment">
      <p>
        <b>制定ポイント</b><br>
        コミュニティのゴール達成に向けて<br>
        更に意欲が湧くような報酬はなんですか？
      </p>
    </div>
    <div>
      <%= form_with(model:[@community, @privilege], local:true) do |f| %>
        <label>内容</label>
        <div>
          <%= f.text_area :content, placeholder: "報酬内容をここに" %>
        </div>
        <label>受けることによって消費する配当ポイント</label>
        <div>
          <%= f.text_field :point, placeholder: "行使するのに必要なポイントをここに" %>
        </div>
        <div>
          <%= f.submit '作成' %>
        </div>
      <% end %>
    </div>
  </div>