  <p class="page-title">特典新規作成</p>

  <p>
    <b>特典作成のポイント</b><br>
    個人のポイントが「消費ポイント」に達した時に<br>
    受けられる特典を記載してください。
  </p>

  <div>
    <%= form_with(model:[@community, @privilege], local:true) do |f| %>
      <p>特典内容</p>
      <%= f.text_area :content, placeholder: "特典or罰の内容をここに" %>
      <p>消費ポイント</p>
      <%= f.text_field :point, placeholder: "行使するのに必要なポイントをここに" %>
      <%= f.submit '作成' %>
    <% end %>
  </div>

  <div>
    <p><%= link_to "戻る", community_privileges_path(@community.id) %></p>
  <div>