<div class="page-title">個人情報変更</div>
<div>
  <%= form_with model: @user, local:true, class: "form" do |f| %>
    <div class="form-section">
      <label for="inputName", class="form-label">ユーザーネーム</label><span class="form-note">必須</span>
      <div><%= f.text_field :name, autofocus: true, id:"inputName", placeholder:"ユーザー名", class: "form-area-small" %></div>
      <div id="error_explanation">
        <% if @user.errors.any? && @user.errors.has_key?(:name) %>
          <ul class="all-error-messages">
            <% @user.errors[:name].each do |message| %>
              <li class="each-error-message"><%= message %></li>
            <% end %>
          </ul>
        <% end %>
      </div>
    </div>
    <div class="form-section">
      <label for="inputEmail", class="form-label">メールアドレス</label><span class="form-note">必須</span>
      <div><%= f.text_field :email, id:"inputEmail", placeholder:"メールアドレス", class: "form-area-small" %></div>
      <div id="error_explanation">
        <% if @user.errors.any? && @user.errors.has_key?(:email) %>
          <ul class="all-error-messages">
            <% @user.errors[:email].each do |message| %>
              <li class="each-error-message"><%= message %></li>
            <% end %>
          </ul>
        <% end %>
      </div>
    </div>
    <div class="form-section">
      <label for="inputImage", class="form-label">プロフィール画像</label><span class="form-note-optional">任意</span>
      <div>
        <% if @user.profile_image.attached? %>
          <%= image_tag @user.profile_image.variant(resize: "120x120") %>
        <% else %>
          <%= image_tag("f_f_event_98_s512_f_event_98_0bg.jpg", style: "width: 120px; height: 120px;") %>
        <% end %>
      </div>
      <div><%= f.file_field :profile_image, placeholder: "画像を選択してください", class: "form-check-box-label" %></div>
    </div>
    <div class="submittion">
      <div><%= f.submit "編集完了", class: "done-btn" %></div>
    </div>
  <% end %>
</div>