  <div class="community-background">
    <% if @community.community_image.attached? %>
      <%= image_tag @community.community_image %>
    <% end %>
  </div>
  <div class="community-info">
    <%= render 'communities/info', community: @community, currentUser: @currentUser %>
  </div>
  <div class="community-main">
    <div class="members-all">
      <div class="members-left">
        <div class="community-all-members-wrapper">
          <div class="community-all-members">
            <% @communityUsers.each do |communityUser| %>
              <% if communityUser.user_id == current_user.id %>
                <%= link_to community_user_mypage_path(@community.id, communityUser.user.id), class: "community-member-sum-cta" do %>
                  <div class="community-member-sum">
                    <div class="community-member-sum-left">
                      <div>
                        <% if communityUser.user.profile_image.attached? %>
                          <%= image_tag communityUser.user.profile_image.variant(resize: "88x88"), class: "community-member-profile-image" %>
                        <% else %>
                          <%= image_tag("f_f_event_98_s512_f_event_98_0bg.jpg", style: "width: 88px; height: 88px;", class: "community-member-profile-image") %>
                        <% end %>
                      </div>
                      <div class="community-member-name">
                        <%= communityUser.user.name %>
                      </div>
                    </div>
                    <div class="community-member-sum-right">
                      <div class="member-all-roles-wrapper">
                        <div class="member-all-roles">
                          <% roles = Role.where(community_id: @community.id, user_id: communityUser.user_id) %>
                          <% if roles.present? %>
                            <% roles.each.with_index(1) do |role, index| %>
                              <div class="member-each-role">
                                <div class="member-each-role-index">役割<%= index %></div>
                                <div class="member-each-role-content"><%= role.content %></div>
                              </div>
                            <% end %>
                          <% else %>
                            <div class="alt-text">まだ役割が設定されていません。</div>
                          <% end %>
                        </div>
                      </div>
                      <div class="member-points">
                        <div class="member-point">
                          <div class="member-point-title">獲得ポイント</div>
                          <div class="member-point-content"><%= communityUser.point %></div>
                        </div>
                        <div class="member-monthly-point">
                          <div class="member-monthly-point-title">利用可能ポイント</div>
                          <div class="member-monthly-point-content"><%= communityUser.monthly_point %></div>
                        </div>
                      </div>
                    </div>
                  </div>
                <% end %>
              <% else %>
                <%= link_to community_user_path(@community.id, communityUser.user.id), class: "community-member-sum-cta" do %>
                  <div class="community-member-sum">
                    <div class="community-member-sum-left">
                      <div>
                        <% if communityUser.user.profile_image.attached? %>
                          <%= image_tag communityUser.user.profile_image.variant(resize: "88x88"), class: "community-member-profile-image" %>
                        <% else %>
                          <%= image_tag("f_f_event_98_s512_f_event_98_0bg.jpg", style: "width: 88px; height: 88px;", class: "community-member-profile-image") %>
                        <% end %>
                      </div>
                      <div class="community-member-name">
                        <%= communityUser.user.name %>
                      </div>
                    </div>
                    <div class="community-member-sum-right">
                      <div class="member-all-roles-wrapper">
                        <div class="member-all-roles">
                          <% roles = Role.where(community_id: @community.id, user_id: communityUser.user_id) %>
                          <% if roles.present? %>
                            <% roles.each.with_index(1) do |role, index| %>
                              <div class="member-each-role">
                                <div class="member-each-role-index">役割<%= index %></div>
                                <div class="member-each-role-content"><%= role.content %></div>
                              </div>
                            <% end %>
                          <% else %>
                            <div class="alt-text">まだ役割が設定されていません。</div>
                          <% end %>
                        </div>
                      </div>
                      <div class="member-points">
                        <div class="member-point">
                          <div class="member-point-title">獲得ポイント</div>
                          <div class="member-point-content"><%= communityUser.point %></div>
                        </div>
                        <div class="member-monthly-point">
                          <div class="member-monthly-point-title">利用可能ポイント</div>
                          <div class="member-monthly-point-content"><%= communityUser.monthly_point %></div>
                        </div>
                      </div>
                    </div>
                  </div>
                <% end %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="members-right">
        <%= render 'member_comparison' %>
      </div>
    </div>
  </div>