  <div class="community-background">
    <%= attachment_image_tag @community, :community_image, format: 'jpeg', fallback: "sunset_mountains.jpg" %>
  </div>
  <div class="community-info">
    <%= render 'communities/info', community: @community, currentUser: @currentUser %>
  </div>
  <div class="community-main">
    <div class="my-page-all">
      <div class="mypage-left">
        <div class="role">
          <div class="role-title">あなたの役割</div>
          <div class="role-new">
            <%= link_to new_community_user_role_path(@community.id, current_user.id) do %>
              <i class="fa-regular fa-square-plus"></i>
            <% end %>
          </div>
          <div class="all-roles">
            <% if @roles.present? %>
              <% @roles.each do |role| %>
                <div class="role-content">
                  <div class="role-content-letters"><%= role.content %></div>
                　<div class="role-content-edit-link">
                    <%= link_to edit_community_user_role_path(@community.id, @user.user_id, role.id) do %>
                      <i class="fa-regular fa-pen-to-square"></i>
                    <% end %>
                  </div>
                </div>
              <% end %>
            <% else %>
              <p>あなたの役割を明記しましょう！</p>
            <% end %>
          </div>
        </div>
        <div class="individual-activity">
          <div class="individual-point">
            <div class="individual-point-title">獲得ポイント</div>
            <div class="my-point"><%= @user.point %></div>
            <div class="my-excuted-rules">
              <% @executedRuleStandbies.each do |standby| %>
                <div class="my-each-excuted-rule">
                  <div><%= standby.content %></div>
                  <div><%= standby.point %></div>
                  <div><%= standby.updated_at.to_s(:datetime_jp) %></div>
                </div>
              <% end %>
            </div>
            <div class="comment">
              <div>※承認したルールのみ反映。</div>
            </div>
          </div>
          <div class="individual-monthly-point">
            <div class="individual-monthly-point-title">利用可能ポイント</div>
            <div class="my-monthly-point"><%= @user.monthly_point %></div>
            <div class="my-tasks">
              <div class="my-tasks-remaining">
                <div class="privileges-remaining">
                  <% if @activePrivileges.present? %>
                    <div class="section-title">取得可能な報酬</div> <!-- 特典のポイントより個人のポイントが高ければ選択肢に現れる -->
                    <div class="comment">
                      <div>配当ボインがなくなるまで以下の報酬を選択して受け取ることができます。</div>
                      <div class="privilege-note">報酬を受け取ったら、自ら「取得完了」ボタンを押してください。</div>
                    </div>
                    <div>
                      <% @activePrivileges.each do |privilege| %>
                        <div><%= privilege.content %></div>
                        <div><%= privilege.point %></div>
                        <div><%= link_to "取得完了", community_privilege_execute_path(@community.id, privilege.id) %></div>
                      <% end %>
                    </div>
                  <% end %>
                </div>
                <div class="penalties-remaining">
                  <% if @activePenalties.present? %>
                    <div class="section-title" >実行が必要なペナルティ</div>
                    <div class="comment">
                      <div>ペナルティを実行してポイント回復に努めましょう！</div>
                    </div>
                    <div>
                      <% @activePenalties.each do |penalty| %>
                        <div><%= penalty.content %></div>
                        <div><%= penalty.point %></div>
                        <div><%= link_to '実行完了許可', community_penalty_execute_path(@community.id, penalty.id) %></div>
                      <% end %>
                    </div>
                  <% end %>
                </div>
                <div class="comment">
                  <div>※余剰ポイントは翌月に繰り越されます。</div>
                </div>
              </div>
              <div class="my-tasks-done">
                <div>
                  <div class="section-title">完了した報酬</div> <!-- standbyテーブルから取得 -->
                </div>
                <div>
                  <div class="section-title">完了したペナルティ</div> <!-- standbyテーブルから取得 -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="mypage-right">
        <div class="memo">
          <div class="memo-header">
            <p class="section-title">自分だけメモ</p>
            <!-- %= link_to "メモ作成", new_community_user_role_path(@community.id, current_user.id) % -->
          </div>
          <div class="memo-content">
            <% if @user.memo.present? %>
              <div><%= @user.memo %></div>
              <div>
                <span><%= link_to "メモ編集", community_user_editmemo_path(@community.id, @user.user_id) %></span>
                <span><%= link_to "メモ削除", community_user_erasememo_path(@community.id, @user.user_id) %></span>
              </div>
            <% else %>
              <div><%= link_to "メモ作成", community_user_editmemo_path(@community.id, @user.user_id) %></div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>