  <div class="community-background">
    <% if @community.community_image.attached? %>
      <%= image_tag @community.community_image %>
    <% end %>
  </div>
  <div class="community-info">
    <%= render 'communities/info', community: @community, currentUser: @currentUser %>
  </div>
  <div class="community-main">
    <div class="members-all">
      <div class="members-left">
        <div class="my-page-all">
          <div class="others-page-top">
            <div class="others-roles">
              <div class="roles-header">
                <div class="section-title">
                  <%= @user.user.name %>の役割
                </div>
              </div>
              <% if @roles.present? %>
                <div class="others-all-roles-wrapper">
                  <div class="others-all-roles">
                    <% @roles.each.with_index(1) do |role, index| %>
                      <div class="others-each-role">
                        <div class="others-each-role-index"><%= index %></div>
                        <div class="others-each-role-content"><%= role.content %></div>
                      </div>
                    <% end %>
                  </div>
                </div>
              <% else %>
                <div class="alt-text">役割が明記されていません。</div>
              <% end %>
            </div>
          </div>
          <div class="others-page-bottom">
              <div class="others-point-detail">
                <div class="others-point-title">今月の獲得ポイント</div>
                <div class="others-point-index">現在のポイント</div>
                <div class="others-point"><%= @user.point %></div>
                <div class="others-all-rules">
                    <div class="others-all-targeting-rules-wrapper">
                      <div class="others-all-targeting-rules">
                        <% if @targetingPositiveRules.present? %>
                          <div class="section-title">対象プラスルール一覧</div>
                          <div class="others-all-targeting-positive-rules">
                            <% @targetingPositiveRules.each do |rule| %>
                              <div class="others-each-targeting-positive-rule">
                                <div class="others-each-targeting-positive-rule-content"><%= rule.content %></div>
                                <div class="others-each-targeting-positive-rule-point"><%= rule.point %><span class="point-letter">ポイント</span></div>
                                <div class="others-each-targeting-positive-rule-execute"><%= link_to "実行", community_rule_execute_path(@community.id, rule.id), class: "others-each-targeting-positive-rule-execute-cta" %></div>
                              </div>
                            <% end %>
                          </div>
                        <% end %>
                        <% if @targetingNegativeRules.present? %>
                          <div class="section-title">対象マイナスルール一覧</div>
                          <div class="others-all-targeting-negative-rules">
                            <% @targetingNegativeRules.each do |rule| %>
                              <div class="others-each-targeting-negative-rule">
                                <div class="others-each-targeting-negative-rule-content"><%= rule.content %></div>
                                <div class="others-each-targeting-negative-rule-point"><%= rule.point %><span class="point-letter">ポイント</span></div>
                                <div class="others-each-targeting-negative-rule-execute"><%= link_to "実行", community_rule_execute_path(@community.id, rule.id), class: "others-each-targeting-negative-rule-execute-cta" %></div>
                              </div>
                            <% end %>
                          </div>
                        <% end %>
                        <% unless @targetingPositiveRules.present? && @targetingNegativeRules.present? %>
                          <div class="alt-text">対象ルールがありません。</div>
                        <% end %>
                      </div>
                    </div>
                  <% if @executedRules.present? %>
                    <div class="others-all-executed-rules-wrapper">
                        <div class="section-title">今月実行されたルール</div>
                        <div class="others-all-executed-rules">
                          <% @executedRules.each do |standby| %>
                            <div class="others-each-executed-rule">
                              <div class="others-each-executed-rule-content"><%= standby.content %></div>
                              <div class="others-each-executed-rule-point"><%= standby.point %><span class="point-letter">ポイント</span></div>
                            </div>
                          <% end %>
                          <div class="notes"> ※承認したルールのみ反映。</div>
                        </div>
                    </div>
                  <% else %>
                    <div class="alt-text">今月実行されたルールはありません。</div>
                  <% end %>
                </div>
              </div>
              <div class="others-monthly-point-detail">
                <div class="others-monthly-point-title">累計ポイント</div>
                <div class="others-point-index">残りポイント</div>
                <div class="others-monthly-point"><%= @user.monthly_point %></div>
                <div class="others-all-tasks">
                  <div class="others-all-done-tasks-wrapper">
                    <% if @finishedPrivileges.present? || @finishedPenalties.present? %>
                      <div class="others-all-done-tasks">
                        <% if @finishedPrivileges.present? %>
                          <div class="section-title">今月取得した報酬</div>
                          <div class="others-done-privileges">
                            <% @finishedPrivileges.each do |standby| %>
                              <div class="others-each-done-privilege">
                                <div class="others-each-done-privilege-content"><%= standby.content %></div>
                                <div class="others-each-done-privilege-point"><%= standby.point %><span class="point-letter">ポイント消費</span></div>
                              </div>
                            <% end %>
                          </div>
                        <% end %>
                        <% if @finishedPenalties.present? %>
                          <div class="section-title">今月実行したペナルティ</div>
                          <div class="others-done-penalties">
                            <% @finishedPenalties.each do |standby| %>
                              <div class="others-each-done-penalty">
                                <div class="others-each-done-penalty-content"><%= standby.content %></div>
                                <div class="others-each-done-penalty-point"><%= standby.point %><span class="point-letter">ポイント回復</span></div>
                              </div>
                            <% end %>
                          </div>
                        <% end %>
                      </div>
                    <% else %>
                      <div class="alt-text">今月実行した報酬とペナルティが<br>表示されます。</div>
                    <% end %>
                  </div>
                </div>
              </div>
          </div>
        </div>
      </div>
      <div class="members-right">
        <%= render 'member_comparison' %>
      </div>
    </div>
  </div>