  <div class="home-all">
    <div class="home-1st">
      <div class="home-1st-background"><%= image_tag 'home_first_view_image.png' %></div>
      <div class="home-1st-scripts-wrapper">
        <div class="home-1st-scripts">
          <div class="home-app-description">
            <div class="home-app-description-line">「察する力」がなくても快適なパートナーシップをあなたに</div>
          </div>
          <div class="home-app-poem">
            <div class="home-app-poem-line">価値観の違う2人。</div>
            <div class="between-line-narrow"></div>
            <div class="home-app-poem-line">いつからだろう。関係が以前のように良好じゃない。</div>
            <div class="between-line-narrow"></div>
            <div class="home-app-poem-line">でも、自分のプライドが邪魔をして、相手への甘えが出て、分かっていながら適切なコミュニケーションを取れずにいる。</div>
            <div class="between-line-narrow"></div>
            <div class="home-app-poem-line">改善したくても、真剣に話し合うのは照れくさいし、そもそも建設的な話ができるだろうか。</div>
            <div class="between-line-narrow"></div>
            <div class="home-app-poem-line">ああ、どこから始めればいいのだろう。</div>
          </div>
        </div>
      </div>
      <div class="home-registration"><%= link_to "今すぐ無料でGachiru.", new_user_registration_path, class: "home-registration-cta" %></div>
    </div>
    <div class="home-2nd">
      <div class="home-worries-copy">こんな<span class="emphasize-word-yellow">悩み</span>を持っていませんか？</div>
      <div class="home-worries-wrapper">
        <div class="home-worries-top-wrapper">
          <div class="home-worries-top">
            <div class="home-worry1">
              <div><%= image_tag 'e0795_1.png', size: '200x160', class: "speech-bubble1" %></div>
              <div class="home-worry-words">なんとなく<br>最近パートナーと<br>上手くいかない</div>
            </div>
            <div class="home-worry2">
              <div><%= image_tag 'e0795_1.png', size: '200x160', class: "speech-bubble2" %></div>
              <div class="home-worry-words">価値観が合わないと<br>感じるようになった</div>
            </div>
          </div>
        </div>
        <div class="home-worries-bottom-wrapper">
          <div class="home-worries-bottom">
            <div class="home-worry3">
              <div><%= image_tag 'e0795_1.png', size: '200x160', class: "speech-bubble3" %></div>
              <div class="home-worry-words">パートナーが<br>冷たくなった気がする</div>
            </div>
            <div class="home-worry4">
              <div><%= image_tag 'e0795_1.png', size: '200x160', class: "speech-bubble4" %></div>
              <div class="home-worry-words">いつも自分ばかり<br>我慢している気がする</div>
            </div>
          </div>
        </div>
        <div class="home-worries-image"><%= image_tag 'worries.png', size: '500x250' %></div>
      </div>
      <div class="down-arrow"><%= image_tag 'down_arrow.png', size: '120x60' %></div>
    </div>
    <div class="home-3rd">
      <div class="home-app-function-copy">パートナーと認識を共有し<span class="emphasize-word-yellow">見える化</span>するツール「Gachiru.」</div>
      <div class="home-app-functions-wrapper">
        <div class="home-app-functions">
          <div class="home-app-function">
            <div class="function-index">
              <div class="function-index-image"><%= image_tag 'step.png', size: '80x80' %></div>
              <div class="function-index-number">1</div>
            </div>
            <div class="function-image"><%= image_tag '1_goal.png', size: '200x100' %></div>
            <div class="function-title">共通ゴールを設定する</div>
            <div class="function-usage">作成ヒントを参考にパートナーと一緒に目指すゴールを決めましょう！</div>
            <div class="function-detail-index">利用機能</div>
            <div class="function-detail-wrapper">
              <div class="function-detail">
                <div class="function-detail-section"><i class="fa-solid fa-arrow-right function-sign"></i>ゴール設定機能</div>
                <div class="function-detail-section"><i class="fa-solid fa-arrow-right function-sign"></i>ミーティング機能</div>
              </div>
            </div>
          </div>
          <i class="fa-solid fa-circle-chevron-right to-next-icon"></i>
          <div class="home-app-function">
            <div class="function-index">
              <div class="function-index-image"><%= image_tag 'step.png', size: '80x80' %></div>
              <div class="function-index-number">2</div>
            </div>
            <div class="function-image"><%= image_tag '2_plan.png', size: '200x100' %></div>
            <div class="function-title">決まり事を設定する</div>
            <div class="function-usage">ゴール達成のために意識することや必要なルールを決めましょう！</div>
            <div class="function-detail-index">利用機能</div>
            <div class="function-detail-wrapper">
              <div class="function-detail">
                <div class="function-detail-section"><i class="fa-solid fa-arrow-right function-sign"></i>スローガン作成機能</div>
                <div class="function-detail-section"><i class="fa-solid fa-arrow-right function-sign"></i>ルール作成機能</div>
                <div class="function-detail-section"><i class="fa-solid fa-arrow-right function-sign"></i>報酬作成機能</div>
                <div class="function-detail-section"><i class="fa-solid fa-arrow-right function-sign"></i>ペナルティ作成機能</div>
              </div>
            </div>
          </div>
          <i class="fa-solid fa-circle-chevron-right to-next-icon"></i>
          <div class="home-app-function">
            <div class="function-index">
              <div class="function-index-image"><%= image_tag 'step.png', size: '80x80' %></div>
              <div class="function-index-number">3</div>
            </div>
            <div class="function-image"><%= image_tag '3_do.png', size: '200x100' %></div>
            <div class="function-title">ルールを実行する</div>
            <div class="function-usage">ルールを実行してポイントを貯めましょう。獲得ポイントに応じて報酬やペナルティを取得します。</div>
            <div class="function-detail-index">利用機能</div>
            <div class="function-detail-wrapper">
              <div class="function-detail">
                <div class="function-detail-section"><i class="fa-solid fa-arrow-right function-sign"></i>ルール実行機能</div>
                <div class="function-detail-section"><i class="fa-solid fa-arrow-right function-sign"></i>報酬取得機能</div>
                <div class="function-detail-section"><i class="fa-solid fa-arrow-right function-sign"></i>ペナルティ実行機能</div>
              </div>
            </div>
          </div>
          <i class="fa-solid fa-circle-chevron-right to-next-icon"></i>
          <div class="home-app-function">
            <div class="function-index">
              <div class="function-index-image"><%= image_tag 'step.png', size: '80x80' %></div>
              <div class="function-index-number">4</div>
            </div>
            <div class="function-image"><%= image_tag '4_meeting.png', size: '200x100' %></div>
            <div class="function-title">振り返る・改善する</div>
            <div class="function-usage">実行状況などを確認しながらルールなどを改善しましょう！</div>
            <div class="function-detail-index">利用機能</div>
            <div class="function-detail-wrapper">
              <div class="function-detail">
                <div class="function-detail-section"><i class="fa-solid fa-arrow-right function-sign"></i>ダッシュボード確認</div>
                <div class="function-detail-section"><i class="fa-solid fa-arrow-right function-sign"></i>ミーティング機能</div>
                <div class="function-detail-section"><i class="fa-solid fa-arrow-right function-sign"></i>ゴール評価機能</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="home-effects">
        <div class="home-effect">共通のゴール 結束力を高める</div>
        <div class="home-effect">ゴール・ルール決定へのプロセス 互いの理解を深める</div>
        <div class="home-effect">ルールの遂行 習慣化</div>
      </div>
    </div>
    <div class="home-4th">
      <div class="home-advice-copy">良好なパートナーシップを築くためには<span class="emphasize-word-green">仕組み</span>が必要</div>
      <div class="home-advices">
        <div class="home-advice">
          <div class="home-advice-background"><%= image_tag 'julie_gottman_fix.png' %></div>
          <div class="home-advice-content">
            <div class="home-advice-content-line"><em>パートナーとの関係を<br>円満にするためには、<br>ルールを共有し、<br>お互いのニーズや期待を<br>明確にすることが重要です。</em></div>
            <div class="home-advice-detail">
              <div class="home-advice-detail-person">ジュリー・ゴットマン</div>
              <div class="home-advice-detail-biography">心理学研究者・カップルセラピスト</div>
            </div>
          </div>
        </div>
        <div class="home-advice">
          <div class="home-advice-background"><%= image_tag 'bill_gates_fix.png' %></div>
          <div class="home-advice-content">
            <div class="home-advice-content-line"><em>夫婦はチームであり、<br>共同経営者である。</em></div>
            <div class="home-advice-detail">
              <div class="home-advice-detail-person">ビル・ゲイツ</div>
              <div class="home-advice-detail-biography">マイクロソフト創業者・慈善家</div>
            </div>
          </div>
        </div>
        <div class="home-advice">
          <div class="home-advice-background"><%= image_tag 'mother_teresa_fix.png' %></div>
          <div class="home-advice-content">
            <div class="home-advice-content-line"><em>真のコミュニケーションは、<br>お互いを支え合う絆を<br>築く力です。</em></div>
            <div class="home-advice-detail">
              <div class="home-advice-detail-person">マザー・テレサ</div>
              <div class="home-advice-detail-biography">修道女・人道主義者</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="home-5th">
      <div class="home-administrator-title">運営者からのメッセージ</div>
      <div class="home-administrator">
        <div class="home-administrator-left">
          <div class="home-administrator-icon"><%= image_tag '285342913_475607347702510_3634603791317588137_n.jpeg', size: '100x100', style: "transform: scaleX(-1)", class: "home-administrator-icon-image" %></div>
        </div>
        <div class="home-administrator-right">
          <div class="administrator-message">
            <div class="administrator-message-line">ルールが夫婦関係が劇的に改善したことをきっかけに、このサービスを開発しました。</div>
            <div class="between-line-wide"></div>
            <div class="administrator-message-line">子供が産まれ倍増する家事育児、激減する自分の時間、募るお互いへの不満。</div>
            <div class="administrator-message-line">毎日のように喧嘩をして、共通の基準をつくらなければ関係が終わると悟りました。</div>
            <div class="between-line-wide"></div>
            <div class="administrator-message-line">最初に決めたのは、「家事の時間はイヤホンをつけて自分の世界に没頭していい」というルールで、</div>
            <div class="administrator-message-line">忙しい中でも1人の時間を確保するためのものでした。</div>
            <div class="between-line-wide"></div>
            <div class="administrator-message-line">ルールというツールを通して、私たち夫婦は初めて真剣に向き合うことができました。</div>
            <div class="administrator-message-line">ルールは関係を縛るものではなく、理想の関係を築くための基盤になるものです。</div>
            <div class="between-line-wide"></div>
            <div class="administrator-message-line">皆さんにも「Gachiru.」をきっかけに、パートナーとの理解を深めていただけると嬉しいです。</div>
          </div>
        </div>
      </div>
    </div>
    <div class="home-6th">
    </div>
  </div>