  <div class="home-all">
    <div class="home-1st">
      <div class="home-1st-background"><%= image_tag 'home_first_view_image.png' %></div>
      <div class="home-1st-scripts-wrapper">
        <div class="home-1st-scripts">
          <div class="home-app-description">
            <div class="home-app-description-line">価値観の不一致に</div>
            <div class="between-description-line"></div>
            <div class="home-app-description-line">惑わされない</div>
            <div class="between-description-line"></div>
            <div class="home-app-description-line">快適なパートナーシップ</div>
          </div>
          <div class="home-app-poem">
            <div class="home-app-poem-line">価値観の違う2人。</div>
            <div class="between-poem-line"></div>
            <div class="home-app-poem-line">いつからだろう。関係が以前のように良好じゃない。</div>
            <div class="between-poem-line"></div>
            <div class="home-app-poem-line">でも、自分のプライドが邪魔をして、相手への甘えが出て、分かっていながら適切なコミュニケーションを取れずにいる。</div>
            <div class="between-poem-line"></div>
            <div class="home-app-poem-line">改善したくても、真剣に話し合うのは照れくさいし、そもそも建設的な話ができるだろうか。</div>
            <div class="between-poem-line"></div>
            <div class="home-app-poem-line">ああ、どこから始めればいいのだろう。</div>
          </div>
        </div>
      </div>
      <div class="home-registration"><%= link_to "今すぐ無料でGachiru.", new_user_registration_path, class: "home-registration-cta" %></div>
    </div>
    <div class="home-2nd">
      <div class="home-worries-copy">こんな<span class="emphasize-word-yellow">悩み</span>を持っていませんか？</div>
      <div class="home-worries-wrapper">
        <div class="home-worries-top-wrapper">
          <div class="home-worries-top">
            <div class="home-worry1">
              <div><%= image_tag 'e0795_1.png', size: '200x160', class: "speech-bubble1" %></div>
              <div class="home-worry-words">なんとなく<br>最近パートナーと<br>上手くいかない</div>
              <div class="home-worry1-image-sp"><%= image_tag 'worry2.png', size: '120x120' %></div>
            </div>
            <div class="home-worry2">
              <div><%= image_tag 'e0795_1.png', size: '200x160', class: "speech-bubble2" %></div>
              <div class="home-worry-words">価値観が合わないと<br>感じるようになった</div>
              <div class="home-worry2-image-sp"><%= image_tag 'worry1.png', size: '120x120' %></div>
            </div>
          </div>
        </div>
        <div class="home-worries-bottom-wrapper">
          <div class="home-worries-bottom">
            <div class="home-worry3">
              <div><%= image_tag 'e0795_1.png', size: '200x160', class: "speech-bubble3" %></div>
              <div class="home-worry-words">パートナーが<br>冷たくなった気がする</div>
              <div class="home-worry3-image-sp"><%= image_tag 'worry4.png', size: '120x120' %></div>
            </div>
            <div class="home-worry4">
              <div><%= image_tag 'e0795_1.png', size: '200x160', class: "speech-bubble4" %></div>
              <div class="home-worry-words">いつも自分ばかり<br>我慢している気がする</div>
              <div class="home-worry4-image-sp"><%= image_tag 'worry3.png', size: '120x120' %></div>
            </div>
          </div>
        </div>
        <div class="home-worries-image-pc"><%= image_tag 'worries.png', size: '500x250' %></div>
      </div>
      <div class="down-arrow"><%= image_tag 'down_arrow.png', size: '120x60' %></div>
    </div>
    <div class="home-3rd">
      <div class="home-app-function-copy">パートナーと認識を共有し<span class="emphasize-word-yellow">見える化</span>するツール「Gachiru.」</div>
      <div class="home-app-functions-wrapper">
        <div class="home-app-functions">
          <div class="home-app-function">
            <div class="home-app-function-section1">
              <div class="function-index">
                <div class="function-index-image"><%= image_tag 'step.png', size: '80x80' %></div>
                <div class="function-index-number">1</div>
              </div>
              <div class="function-image"><%= image_tag '1_goal.png', size: '200x100' %></div>
              <div class="function-title">共通ゴールを設定する</div>
              <div class="function-usage">作成ヒントを参考にパートナーと一緒に目指すゴールを決めましょう！</div>
            </div>
            <div class="home-app-function-section2">
              <div class="function-example-index">Example</div>
              <div class="function-example-content">
                <div class="function-example-function">ゴール設定機能</div>
                <div class="function-example-subject"><span class="function-example-goal">"2人で清潔な生活環境をつくろう"</span></div>
              </div>
              <div class="function-example-content">
                <div class="function-example-function">役割設定機能</div>
                <div class="function-example-subject"><span class="function-example-person"><i class="fa-solid fa-user"></i></span><span class="function-example-role">おもちゃ片付け</span><span class="function-example-role">テーブル掃除</span></div>
                <div class="function-example-subject"><span class="function-example-person"><i class="fa-regular fa-user"></i></span><span class="function-example-role">掃除機</span><span class="function-example-role">拭き掃除</span></div>
              </div>
              <div class="function-example-content">
                <div class="function-example-function">ミーティング設定・議事録機能</div>
                <div class="function-example-subject"><span class="function-example-term">初回</span><span class="function-example-mtg">2人の認識理解</span></div>
                <div class="function-example-subject"><span class="function-example-term">週1回</span><span class="function-example-mtg">進捗確認・ルール見直し</span></div>
              </div>
            </div>
          </div>
          <i id="to-right-icon" class="fa-solid fa-circle-chevron-right"></i>
          <div class="home-app-function">
            <div class="home-app-function-section1">
              <div class="function-index">
                <div class="function-index-image"><%= image_tag 'step.png', size: '80x80' %></div>
                <div class="function-index-number">2</div>
              </div>
              <div class="function-image"><%= image_tag '2_plan.png', size: '200x100' %></div>
              <div class="function-title">決まり事を設定する</div>
              <div class="function-usage">ゴール達成のために意識することや必要なルールを決めましょう！</div>
            </div>
            <div class="home-app-function-section2">
              <div class="function-example-index">Example</div>
              <div class="function-example-content">
                <div class="function-example-function">スローガン設定機能</div>
                <div class="function-example-subject"><span class="function-example-motto">"出したら、仕舞うまでを意識する"</span></div>
              </div>
              <div class="function-example-content">
                <div class="function-example-function">ルール設定機能</div>
                <div class="function-example-subject"><span class="function-example-rule">"翌日まで出しっぱなし"</span><span class="function-example-rule-point">-10point</span></div>
                <div class="function-example-subject"><span class="function-example-rule">"私服を捨てる"</span><span class="function-example-rule-point">+50point</span></div>
              </div>
              <div class="function-example-content">
                <div class="function-example-function">報酬/ペナルティ設定機能</div>
                <div class="function-example-subject"><span class="function-example-privilege-point">200point貯蓄</span><span class="function-example-privilege">"1日のデート代パートナーが負担"</span></div>
              </div>
            </div>
          </div>
          <i id="to-right-icon" class="fa-solid fa-circle-chevron-right"></i>
          <div class="home-app-function">
            <div class="home-app-function-section1">
              <div class="function-index">
                <div class="function-index-image"><%= image_tag 'step.png', size: '80x80' %></div>
                <div class="function-index-number">3</div>
              </div>
              <div class="function-image"><%= image_tag '3_do.png', size: '200x100' %></div>
              <div class="function-title">ルールを実行する</div>
              <div class="function-usage">ルール実行で貯めたポイントに応じて、報酬やペナルティを取得しましょう！</div>
            </div>
            <div class="home-app-function-section2">
              <div class="function-example-index">Example</div>
              <div class="function-example">
                <div class="function-example-content">
                  <div class="function-example-function">ルール実行機能</div>
                  <div class="function-example-subject">自分のポイントを貯める</div>
                </div>
                <div class="function-example-content">
                  <div class="function-example-function">報酬/ペナルティ実行機能</div>
                  <div class="function-example-subject">ポイントの蓄積状況に応じて報酬やペナルティを受ける</div>
                </div>
              </div>
            </div>
          </div>
          <i id="to-right-icon" class="fa-solid fa-circle-chevron-right"></i>
          <div class="home-app-function">
            <div class="home-app-function-section1">
              <div class="function-index">
                <div class="function-index-image"><%= image_tag 'step.png', size: '80x80' %></div>
                <div class="function-index-number">4</div>
              </div>
              <div class="function-image"><%= image_tag '4_meeting.png', size: '200x100' %></div>
              <div class="function-title">振り返る・改善する</div>
              <div class="function-usage">実行状況などを確認しながらルールなどを改善しましょう！</div>
            </div>
            <div class="home-app-function-section2">
              <div class="function-example-index">Example</div>
              <div class="function-example-content">
                <div class="function-example-function">ゴール評価機能</div>
                <div class="function-example-subject"><span class="function-example-achievement">達成</span><span class="function-example-achievement">未達成</span>の評価</div>
              </div>
              <div class="function-example-content">
                <div class="function-example-function">ミーティング設定・議事録機能</div>
                <div class="function-example-subject"><span class="function-example-term">月末</span>コミット度合い確認と決め事の改善</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="down-arrow2"><%= image_tag 'down_arrow2.png', size: '120x60' %></div>
      <div class="home-app-effect-copy">動き出す<span class="emphasize-word-yellow">3つの好循環</span>をあなたにも</div>
      <div class="home-app-effects">
        <div class="home-effect">
          <i class="fa-solid fa-handshake effect-icon"></i>
          <div class="home-effect-action">共通のゴールを目指す</div>
          <div class="home-effect-after">結束力の強化</div>
        </div>
        <div class="home-effect">
          <i class="fa-solid fa-comments effect-icon"></i>
          <div class="home-effect-action">ゴール・ルール決定に向けて議論する</div>
          <div class="home-effect-after">互いの理解促進</div>
        </div>
        <div class="home-effect">
          <i class="fa-solid fa-list-ul effect-icon"></i>
          <div class="home-effect-action">ルールを遂行する</div>
          <div class="home-effect-after">行動の習慣化</div>
        </div>
      </div>
    </div>
    <div class="home-4th">
      <div class="home-advice-copy">良好なパートナーシップを築くためには<span class="emphasize-word-green">仕組み</span>が必要</div>
      <div class="home-advices">
        <div class="home-advice">
          <div class="home-advice-background"><%= image_tag 'julie_gottman_fix.png' %></div>
          <div class="home-advice-content">
            <div class="home-advice-content-line"><em>パートナーとの関係を<br>円満にするためには、<br>ルールを共有し、<br>お互いのニーズや期待を<br>明確にすることが重要です。</em></div>
            <div class="home-advice-detail">
              <div class="home-advice-detail-person">ジュリー・ゴットマン</div>
              <div class="home-advice-detail-biography">心理学研究者・カップルセラピスト</div>
            </div>
          </div>
        </div>
        <div class="home-advice">
          <div class="home-advice-background"><%= image_tag 'bill_gates_fix.png' %></div>
          <div class="home-advice-content">
            <div class="home-advice-content-line"><em>夫婦はチームであり、<br>共同経営者である。</em></div>
            <div class="home-advice-detail">
              <div class="home-advice-detail-person">ビル・ゲイツ</div>
              <div class="home-advice-detail-biography">マイクロソフト創業者・慈善家</div>
            </div>
          </div>
        </div>
        <div class="home-advice">
          <div class="home-advice-background"><%= image_tag 'mother_teresa_fix.png' %></div>
          <div class="home-advice-content">
            <div class="home-advice-content-line"><em>真のコミュニケーションは、<br>お互いを支え合う絆を<br>築く力です。</em></div>
            <div class="home-advice-detail">
              <div class="home-advice-detail-person">マザー・テレサ</div>
              <div class="home-advice-detail-biography">修道女・人道主義者</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="home-5th">
      <div class="home-administrator-title">運営者からのメッセージ</div>
      <div class="home-administrator">
        <div class="home-administrator-left">
          <div class="home-administrator-icon"><%= image_tag '285342913_475607347702510_3634603791317588137_n.jpeg', size: '100x100', style: "transform: scaleX(-1)", class: "home-administrator-icon-image" %></div>
        </div>
        <div class="home-administrator-right">
          <div class="administrator-message">
            <div class="administrator-message-line">ルールが夫婦関係が劇的に改善したことをきっかけに、このサービスを開発しました。</div>
            <div class="between-line-wide"></div>
            <div class="administrator-message-line">子供が産まれ倍増する家事育児、激減する自分の時間、募るお互いへの不満。</div>
            <div class="administrator-message-line">毎日のように喧嘩をして、共通の基準をつくらなければ関係が終わると悟りました。</div>
            <div class="between-line-wide"></div>
            <div class="administrator-message-line">最初に決めたのは、「家事の時間はイヤホンをつけて自分の世界に没頭していい」というルールで、</div>
            <div class="administrator-message-line">忙しい中でも1人の時間を確保するためのものでした。</div>
            <div class="between-line-wide"></div>
            <div class="administrator-message-line">ルールというツールを通して、私たち夫婦は初めて真剣に向き合うことができました。</div>
            <div class="administrator-message-line">ルールは関係を縛るものではなく、理想の関係を築くための基盤になるものです。</div>
            <div class="between-line-wide"></div>
            <div class="administrator-message-line">皆さんにも「Gachiru.」をきっかけに、パートナーとの理解を深めていただけると嬉しいです。</div>
          </div>
        </div>
      </div>
    </div>
    <div class="home-6th">
    <div class="footer-cta">
      <div class="footer-terms"><%= link_to "利用規約", terms_path %></div>
      <div class="footer-policy"><%= link_to "プライバシーポリシー", policy_path %></div>
    </div>
    <div class="rights-declaration">© 2023 Pinz,Inc. All Rights Reserved.</div>
    </div>
  </div>