  <div class="page-title">コミュニティ一覧</div>
  <div class="my-communities">
    <div class="my-communities-header">
      <div class="section-title">所属コミュニティ</div>
      <div class="new-community">
        <%= link_to new_community_path do %>
          <i class="fa-regular fa-square-plus"></i>
        <% end %>
      </div>
    </div>
    <div>
      <% if @myCommunities.present? %>
        <div class="my-all-communities-wrapper">
          <div class="my-all-communities">
            <% @myCommunities.each do |community| %>
              <div class="my-each-community">
                <div class="my-each-community-sign">
                  <% if community.owner_id == current_user.id %>
                    <div class="owner-sign">オーナー</div>
                  <% end %>
                </div>
                <div class="my-each-community-name"><%= community.community_name %></div>
                <div class="my-each-community-introduction"><%= community.introduction %></div>
                <div class="my-each-community-id">コミュニティID：<%= community.id %></div>
                <div class="my-each-community-member">
                  <% communityUsers = CommunityUser.where(community_id: community.id, status: 1) %>
                  <div>参加者数：<%= communityUsers.count %></div>
                </div>
                <div class="my-each-community-action">
                  <div class="my-each-community-each-action"><%= link_to '入室', community_path(community.id), class: "my-each-community-each-action-cta" %></div>
                  <% unless community.owner_id == current_user.id %>
                    <div class="my-each-community-each-action"><%= link_to '脱退', community_out_path(community.id), method: :delete, class: "my-each-community-each-action-cta" %></div>
                  <% end %>
                  <% if community.owner_id == current_user.id %>
                    <div class="my-each-community-each-action"><%= link_to '編集', edit_community_path(community.id), class: "my-each-community-each-action-cta" %></div>
                    <div class="my-each-community-each-action"><%= link_to '削除', community_path(community.id), method: :delete, class: "my-each-community-each-action-cta" %></div>
                  <% end %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      <% else %>
        <div class="alt-text">所属しているコミュニティはありません。<br>自分のコミュニティを作成するか、既存コミュニティへ参加申請をしましょう。</div>
      <% end %>
    </div>
  </div>
  <div class="requesting-communities">
    <div class="requesting-communities-header">
      <div class="section-title">参加申請中コミュニティ</div>
    </div>
    <% if @requestingCommunities.present? %>
      <div class="all-requesting-communities">
        <% @requestingCommunities.each do |community| %>
          <div class="each-requesting-community">
            <div class="each-requesting-community-name"><%= community.community_name %></div>
            <div class="each-requesting-community-action"><%= link_to '申請を取り消す', community_out_path(community.id), method: :delete, class: "each-requesting-community-action-cta" %></div>
          </div>
        <% end %>
      </div>
    <% else %>
      <div class="all-requesting-communities-alt-view">
        <div class="alt-text">参加を申請しているコミュニティはありません。</div>
      </div>
    <% end %>
  </div>
  <div class="communities-search">
    <div class="communities-search-header">
      <div class="section-title">コミュニティ検索</div>
    </div>
    <div class="search-box">
      <%= form_with(url: search_path, method: :get, local: true, class: "search-form") do |form| %>
        <%= form.text_field :keyword, placeholder: "コミュニティID検索", class: "search-input" %>
        <%= form.submit "検索", class: "search-btn" %>
      <% end %>
    </div>
    <div class="notes">※半角数字</div>
    <div class="seach-result">
    <% if @searchedCommunities.present? %>
      <div class="all-seach-results">
        <% @searchedCommunities.each do |community| %>
          <% if community.users.exclude?(current_user) %><!-- ログインしないとcurrent_userを参照できないのでundefind エラーが出るので注意。 -->
            <div class="each-seach-result">
              <div class="each-seach-result-name"><%= community.community_name %></div>
              <div class="each-seach-result-request"><%= link_to '参加申請', community_join_request_path(community.id), class: "each-seach-result-request-cta" %></div>
              <% if community.owner_id == current_user.id %>
                <div>※あなたがオーナーです。</div>
              <% end %>
            </div>
          <% end %>
        <% end %>
      </div>
    <% else %>
      <div class="all-seach-results-alt-view">
        <div class="alt-text">該当するコミュニティはありません。</div>
      </div>
    <% end %>
    </div>
  </div>