  <div class="community-background">
    <%= attachment_image_tag @community, :community_image, format: 'jpeg', fallback: "sunset_mountains.jpg" %>
  </div>
  <div class="community-info">
    <%= render 'communities/info', community: @community, currentUser: @currentUser %>
  </div>
  <div class="community-main">
    <div class="mottos-header">
      <p class="section-title">スローガン一覧</p>
      <p class="motto-new"><%= link_to "スローガン新規作成", new_community_motto_path(@community.id) %></p>
    </div>
    <div class="all-mottos">
      <% @community.mottos.each do |motto| %>
        <div class="each-motto">
          <div class="each-motto-edit">
            <%= link_to edit_community_motto_path(@community, motto.id) do %>
              <i class="fa-regular fa-pen-to-square"></i>
            <% end %>
          </div>
          <div class="each-motto-content"><%= motto.content %></div>
          <div class="each-motto-creator">
            <span class="each-motto-creator-title">作成者</span>
            <span class="each-motto-creator-name"><%= motto.user.name %></span>
          </div>
        </div>
      <% end %>
    </div>
  </div>