  <div class="community-info">
    <%= render 'communities/info', community: @community, currentUser: @currentUser %>
  </div>
  <div class="community-main">
    <div class="round">
      <div class="mottos-header">
        <p class="section-title">スローガン一覧</p>
        <p><%= link_to "スローガン新規作成", new_community_motto_path(@community.id) %></p>
      </div>
      <table>
        <thead>
          <tr>
            <th>内容</th>
            <th colspan="1"></th>
          </tr>
        </thead>
        <tbody>
        <% @community.mottos.each do |motto| %>
          <tr>
            <td><%= motto.content %></td>
            <td>
              <%= link_to "編集", edit_community_motto_path(@community, motto.id) %>
              <%= link_to "削除", community_motto_path(@community.id, motto.id), method: :delete %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>