  <div class="community-background">
    <%= attachment_image_tag @community, :community_image, format: 'jpeg', fallback: "sunset_mountains.jpg" %>
  </div>
  <div class="community-info">
    <%= render 'communities/info', community: @community, currentUser: @currentUser %>
  </div>
  <div class="community-main">
    <p class="page-title">スローガン作成</p>
    <div class="comment">
      <p>
        <b>制定ポイント</b><br>
        ゴール達成のためにメンバー全員が心がけることを記載してください。<br>
        みんなで話し合って決めてみましょう！
      </p>
    </div>
    <div>
      <%= form_with(model: [@community, @motto], url: community_mottos_path{@community.id}, local:true) do |f| %> <!-- communityモデル、mottoモデルそれぞれにデータを保存するため、両モデル指定-->
        <div>
          <label><%= f.label :content, "内容" %><span class="form-note">必須</span></label>
          <div>
          <%= f.text_area :content %>
          </div>
        </div>
        <div>
          <%= f.submit "作成" %>
        </div>
      <% end %>
    </div>
  </div>