  <div class="community-info">
    <%= render 'communities/info', community: @community, currentUser: @currentUser %>
  </div>

  <div class="community-main">
    <p class="page-title">スローガン詳細</p>
    <div>
      <p>内容：<%= @motto.content %></p>
      <p>作成者：<%= @motto.user.name %></p>
      <p>作成日：<%= @motto.created_at.strftime('%Y/%m/%d') %></p>
    </div>
    <div>
      <p><%= link_to "編集", edit_community_motto_path(@community.id, @motto.id) %></p>
      <p><%= link_to "削除", community_motto_path(@community.id, @motto.id), method: :delete %></p>
    </div>
  </div>