  <div class="community-background">
    <%= attachment_image_tag @community, :community_image, format: 'jpeg' %>
  </div>
  <div class="community-info">
    <%= render 'communities/info', community: @community, currentUser: @currentUser %>
  </div>
  <div class="community-main">
    <div class="page-title">ペナルティ編集</div>
    <div>
      <%= form_with(model:[@community, @penalty], local:true, class: "form") do |f| %>
        <div class="form-section">
          <label><%= f.label :content, "内容", class: "form-label" %><span class="form-note">必須</span></label>
          <div>
            <%= f.text_area :content, class: "form-area-small" %>
          </div>
          <div class="comment">
            <i class="fa-solid fa-circle-info">設定のヒント</i>
            <div class="comment-content">
              相手がゴール達成のモチベーションが下がるような内容は控えましょう。
            </div>
          </div>
        </div>
        <div class="form-section">
          <label><%= f.label :point, "ペナルティ実行による回復ポイント", class: "form-label" %><span class="form-note">必須</span></label>
          <div>
            <%= f.text_field :point, placeholder: "マイナス設定不可", class: "form-area-small" %>
          </div>
        </div>
        <div class="submittion">
          <%= f.submit "編集完了", class: "done-btn" %>
          <%= link_to '削除', community_penalty_path(@community.id, @penalty.id), method: :delete, class: "alt-link-cta" %>
        </div>
      <% end %>
    </div>
  </div>