  <div class="community-background">
    <% if @community.community_image.attached? %>
      <%= image_tag @community.community_image %>
    <% end %>
  </div>
  <div class="community-info">
    <%= render 'communities/info', community: @community, currentUser: @currentUser %>
  </div>
  <div class="community-main">
    <div class="privileges-penalties-all">
      <div class="privileges-penalties-left">
        <div class="page-title">ペナルティ実行完了の許可</div>
        <div>完了したペナルティ：<%= @penalty.content %></div>
        <div>回復ポイント：<%= @penalty.point %></div>
        <div>
          <%= form_with model: @standby, url: community_penalty_execute_path(@community.id, @penalty.id), local:true, class: "form" do |f| %>
            <div class="form-section">
              <label><%= f.label :executed_user_id, "ペナルティ完了を許可してもらうユーザー", class: "form-label" %><span class="form-note">必須</span></label>
              <div>
                <%= f.collection_select :executed_user_id, User.joins(:community_users).where(community_users: {community_id: params[:community_id]}).where.not(id: current_user.id), :id, :name, include_blank: "ユーザー選択" %>
              </div>
            </div>
            <div class="submittion">
              <%= f.submit '実行完了申請', class: "done-btn" %>
            </div>
          <% end %>
        </div>
      </div>
      <div class="privileges-penalties-right">
        <%= render 'articles/privilege_penalty_articles' %>
      </div>
    </div>
  </div>