  <h1>罰実行完了の許可</h1>

  <p>完了した罰：<%= @penalty.content %></p>
  <p>回復するポイント：<%= @penalty.point %></p>

  <div>
    <%= form_with model: @standby, url: community_penalty_execute_path(@community.id, @penalty.id), local:true do |f| %>
      <%= f.collection_select :executed_user_id, User.joins(:community_users).where(community_users: {community_id: params[:community_id]}), :id, :name, include_blank: "申請ユーザーを選択", multiple: true %>
      <%= f.submit '実行完了申請' %>
    <% end %>
  </div>

  <div>
    <p><%= link_to "戻る", community_privileges_path(@community.id) %></p>
  <div>