  <div class="community-background">
    <% if @community.community_image.attached? %>
      <%= image_tag @community.community_image %>
    <% end %>
  </div>
  <div class="community-info">
    <%= render 'communities/info', community: @community, currentUser: @currentUser %>
  </div>
  <div class="community-main">
    <div class="privileges-penalties-all">
      <div class="privileges-penalties-left">
        <div class="page-title">ペナルティ新規作成</div>
        <div>
          <%= form_with(model:[@community, @penalty], local:true, class: "form") do |f| %>
            <div class="form-section">
              <label><%= f.label :content, "内容", class: "form-label" %><span class="form-note">必須</span></label>
              <div>
              <%= f.text_area :content, class: "form-area-small" %>
              </div>
              <div class="comment">
                <i class="fa-solid fa-circle-info">設定のヒント</i>
                <div class="comment-content">
                  相手がゴール達成のモチベーションが下がるような内容は控えましょう。
                </div>
              </div>
            </div>
            <div class="form-section">
              <label><%= f.label :point, "ペナルティ実行による回復ポイント", class: "form-label" %><span class="form-note">必須</span></label>
              <div>
              <%= f.text_field :point, placeholder: "マイナス設定不可、半角数字", class: "form-area-small" %>
              </div>
            </div>
            <div class="submission">
            <%= f.submit '作成', class: "done-btn" %>
            </div>
          <% end %>
        </div>
      </div>
      <div class="privileges-penalties-right">
        <%= render 'articles/privilege_penalty_articles' %>
      </div>
    </div>
  </div>