  <div class="community-background">
    <%= attachment_image_tag @community, :community_image, format: 'jpeg' %>
  </div>
  <div class="community-info">
    <%= render 'communities/info', community: @community, currentUser: @currentUser %>
  </div>
  <div class="community-main">
    <p class="page-title">ペナルティ新規作成</p>
    <div class="comment">
      <p>
        <b>ペナルティ作成のポイント</b><br>
        相手がゴール達成のモチベーションが下がるような内容は控えましょう。<br>
      </p>
    </div>
    <div>
      <%= form_with(model:[@community, @penalty], local:true) do |f| %>
        <div>
          <label><%= f.label :content, "内容" %><span class="form-note">必須</span></label>
          <div>
          <%= f.text_area :content %>
          </div>
        </div>
        <div>
          <label><%= f.label :point, "ペナルティ実行による回復ポイント" %><span class="form-note">必須</span></label>
          <div>
          <%= f.text_field :point, placeholder: "マイナス設定不可" %>
          </div>
        </div>
        <div>
        <%= f.submit '作成' %>
        </div>
      <% end %>
    </div>
  </div>