  <div class="community-background">
    <% if @community.community_image.attached? %>
      <%= image_tag @community.community_image %>
    <% end %>
  </div>
  <div class="community-info">
    <%= render 'communities/info', community: @community, currentUser: @currentUser %>
  </div>
  <div class="community-main">
    <div class="active-goal">
      <% if @activeGoal.present? %>
        <div class="active-goal-edit">
          <%= link_to edit_community_goal_path(@community.id, @activeGoal.id) do %>
            <i class="fa-regular fa-pen-to-square"></i>
          <% end %>
        </div>
        <div class="active-goal-content"><%= @activeGoal.content %></p></div>
        <div class="active-goal-deadline">
          <span class="active-goal-deadline-letter">達成期限</span>
          <% if @activeGoal.deadline.present? %>
            <span class="active-goal-deadline-time"><%= @activeGoal.deadline.to_s(:datetime_jp) %></span>
          <% else %>
            <span class="active-goal-deadline-time">なし</span>
          <% end %>
        </div>
        <div class="active-goal-creator">
          <span class="active-goal-creator-title">設定者</span>
          <span class="active-goal-creator-name"><%= @activeGoal.user.name %></span>
        </div>
        <div class="active-goal-achievement">
          <% if @activeGoal.deadline.present? %>
            <% if @activeGoal.deadline > Time.now %> <!-- 今よりdeadlineの方が大きい（未来） -->
              <div class="active-goal-achievement-true"><%= link_to "達成", community_goal_achieved_path(@community.id, @activeGoal.id), class: "active-goal-achievement-true-cta" %></div>
            <% else %>
              <div class="active-goal-achievement-true"><%= link_to "達成", community_goal_achieved_path(@community.id, @activeGoal.id), class: "active-goal-achievement-true-cta" %></div>
              <div class="active-goal-achievement-false"><%= link_to "未達成", community_goal_unachieved_path(@community.id, @activeGoal.id), class: "active-goal-achievement-false-cta" %></div>
            <% end %>
          <% end %>
        </div>
      <% else %>
        <div>
          <div class="alt-text">コミュニティのメンバー全員で目指すゴールを決めましょう！</div>
          <div class="goal-new"><%= link_to "ゴール設定", new_community_goal_path(@community.id), class: "dashboard-goal-new-cta" %></div>
          <!-- ↑dashbordのゴール設定ctaと同じ見た目にしたいのでclass名同様にしてる  -->
        </div>
      <% end %>
    </div>
    <div class="past-goals">
      <div class="past-goals-header">
        <div class="section-title">過去設定したゴール</div>
      </div>
      <% if @pastGoals.present? %>
        <div class="all-past-goals">
          <% @pastGoals.each do |goal| %>
            <div class="each-past-goal">
              <div class="each-past-goal-content"><%= goal.content %></div>
              <div class="each-past-goal-deadline"><%= goal.deadline.to_s(:datetime_jp) %></div>
              <div class="each-past-goal-achievement">
                <% if goal.achievement == true %>
                  達成
                <% else %>
                  未達成
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      <% else %>
        <div class="alt-text">
          ゴールはどんどんアップデートしていきましょう！
        </div>
      <% end %>
    </div>
  </div>