  <div class="community-background">
    <%= attachment_image_tag @community, :community_image, format: 'jpeg', fallback: "sunset_mountains.jpg" %>
  </div>
  <div class="community-info">
    <%= render 'communities/info', community: @community, currentUser: @currentUser %>
  </div>
  <div class="community-main">
    <div class="goal-header">
      <p class="section-title">現在のゴール</p>
    </div>
    <div class="goal">
      <% if @goal.present? %>
        <div class="goal-edit">
          <%= link_to edit_community_goal_path(@community.id) do %>
            <i class="fa-regular fa-pen-to-square"></i>
          <% end %>
        </div>
        <div class="goal-content"><%= @goal.content %></p></div>
        <div class="goal-deadline">
          <% if @goal.deadline.present? %>
            <span class="goal-deadline-letter">達成期限</span>
            <span class="goal-deadline-time"><%= @goal.deadline.to_s(:datetime_jp) %></span>
          <% end %>
        </div>
        <div class="goal-creator">
          <span class="goal-creator-title">設定者</span>
          <span class="goal-creator-name"><%= @goal.user.name %></span>
        </div>
      <% else %>
        <div>
          <p class="alt-text">コミュニティのメンバー全員で目指すゴールを決めましょう！</p>
          <p class="dashboard-goal-new"><%= link_to "ゴール設定", new_community_goal_path(@community.id), class: "dashboard-goal-new-cta" %></p>
          <!-- ↑dashbordのゴール設定ctaと同じ見た目にしたいのでclass名同様にしてる  -->
        </div>
      <% end %>
    </div>
  </div>