  <h1>ルール編集</h1>

    <%= form_with(model:[@community, @rule], local:true) do |f| %>
    <p>ルール</p>
    <%= f.text_area :content %>
    <p>ポイント(マイナス指定)</p>
    <%= f.text_area :point %>
    <p>ジャンル</p>
    <%= f.text_area :genre %>
    <%= f.submit  %>
  <% end %>

