  <div class="community-background">
    <% if @community.community_image.attached? %>
      <%= image_tag @community.community_image %>
    <% end %>
  </div>
  <div class="community-info">
    <%= render 'communities/info', community: @community, currentUser: @currentUser %>
  </div>
  <div class="community-main">
    <div class="rules-all">
      <div class="rules-left">
        <div class="gray-background">
          <div class="page-title">ルール編集</div>
          <div class="edit-subject-info">
            <div class="edit-subject-info-section">
              <div class="edit-subject-info-label">内容</div>
              <div class="edit-subject-info-content"><%= @rule.content %></div>
            </div>
            <div class="edit-subject-info-section">
              <div class="edit-subject-info-label">ポイント増減</div>
              <div class="edit-subject-info-content"><%= @rule.point %></div>
            </div>
            <div class="edit-subject-info-section">
              <div class="edit-subject-info-label">ジャンル</div>
              <div class="edit-subject-info-content"><%= @rule.genre %></div>
            </div>
            <div class="edit-subject-info-section">
              <div class="edit-subject-info-label">対象メンバー</div>
              <div class="edit-subject-info-content">
                <% @rule.users.each do |user| %>
                  <%= user.name %>
                <% end %>
              </div>
            </div>
            <div class="edit-subject-info-section">
              <div class="edit-subject-info-label">作成者</div>
              <div class="edit-subject-info-content"><%= @rule.creating_user.name %></div>
            </div>
            <div class="edit-subject-info-section">
              <div class="edit-subject-info-label">最終更新者</div>
              <div class="edit-subject-info-content">
                <% if @rule.updating_user.present? %>
                  <%= @rule.updating_user.name %>
                <% else %>
                  更新なし
                <% end %>
              </div>
            </div>
          </div>
          <%= form_with(model:[@community, @rule], local:true, class: "form") do |f| %>
            <div class="form-section">
              <label><%= f.label :content, "ルール", class: "form-label" %><span class="form-note">必須</span></label>
              <div><%= f.text_field :content, autofocus: true, class: "form-area-small" %></div>
              <div id="error_explanation">
                <% if @rule.errors.any? && @rule.errors.has_key?(:content) %>
                  <ul class="all-error-messages">
                    <% @rule.errors[:content].each do |message| %>
                      <li class="each-error-message"><%= message %></li>
                    <% end %>
                  </ul>
                <% end %>
              </div>
            </div>
            <div class="form-section">
              <label><%= f.label :point, "ポイント増減", class: "form-label" %><span class="form-note">必須</span></label>
              <div><%= f.text_field :point, placeholder:"減点ルールの場合は「-」指定、半角数字", class: "form-area-small" %></div>
              <div id="error_explanation">
                <% if @rule.errors.any? && @rule.errors.has_key?(:point) %>
                  <ul class="all-error-messages">
                    <% @rule.errors[:point].each do |message| %>
                      <li class="each-error-message"><%= message %></li>
                    <% end %>
                  </ul>
                <% end %>
              </div>
            </div>
            <div class="form-section">
              <label><%= f.label :genre, "ジャンル", class: "form-label" %><span class="form-note">必須</span></label>
              <div>
                <%= f.select :genre, [["お金", "お金"], ["家事", "家事"], ["キャリア・仕事", "キャリア・仕事"], ["育児", "育児"], ["人間関係・コミュニケーション", "人間関係・コミュニケーション"], ["セックス・性的関係", "セックス・性的関係"], ["趣味・休日", "趣味・休日"], ["行事・イベント", "行事・イベント"], ["健康管理・医療", "健康管理・医療"], ["住まい・生活環境", "住まい・生活環境"], ["プライバシー・個人情報", "プライバシー・個人情報"], ["その他", "その他"]], include_blank: "選択してください" %>
              </div>
              <div id="error_explanation">
                <% if @rule.errors.any? && @rule.errors.has_key?(:genre) %>
                  <ul class="all-error-messages">
                    <% @rule.errors[:genre].each do |message| %>
                      <li class="each-error-message"><%= message %></li>
                    <% end %>
                  </ul>
                <% end %>
              </div>
            </div>
            <div class="form-section">
              <label><%= f.label :user_ids, "対象メンバー", class: "form-label" %><span class="form-note">必須</span></label>
              <div class="form-check-box">
                <%= collection_check_boxes(:rule, :user_ids, User.joins(:community_users).where(community_users: {community_id: params[:community_id]}), :id, :name, include_hidden: false) do |user| %>
                  <div><%= user.check_box %></div>
                  <div class="form-check-box-label"><%= user.text %></div>
                <% end %>
              </div>
              <% if @rule.errors.any? && @rule.errors.has_key?(:user_ids) %>
                <ul class="all-error-messages">
                  <% @rule.errors[:user_ids].each do |message| %>
                    <li class="each-error-message"><%= message %></li>
                  <% end %>
                </ul>
              <% end %>
            </div>
            <div class="submission">
              <%= f.submit '編集完了', class: "done-btn" %>
              <%= link_to "削除", community_rule_path(@community.id, @rule.id), method: :delete, class: "alt-link-cta" %>
            </div>
          <% end %>
        </div>
      </div>
      <div class="rules-right">
        <%= render 'articles/rule_articles' %>
      </div>
    </div>
  </div>
