  <div class="community-background">
    <%= attachment_image_tag @community, :community_image, format: 'jpeg', fallback: "sunset_mountains.jpg" %>
  </div>
  <div class="community-info">
    <%= render 'communities/info', community: @community, currentUser: @currentUser %>
  </div>
  <div class="community-main">
    <p class="page-title">ルール実行</p>
    <p>実行するルール：<%= @rule.content %></p>
    <p>加減ポイント：<%= @rule.point %></p>
    <div>
      <%= form_with model: @standby, url: community_rule_execute_path(@community.id, @rule.id), local:true do |f| %>
        <div>
          <label>対象メンバー選択<span class="form-note">必須</span></label>
          <div>
            <%= collection_check_boxes(:standby, :executed_user_id, User.joins(:rule_users).where(rule_users: {rule_id: params[:rule_id]}), :id, :name, include_hidden: false) do |user| %>
              <%= user.check_box %>
              <%= user.text %>
            <% end %>
          </div>
        </div>
        <div>
          <label><%= f.label :detail, "補足" %></label>
          <div>
            <%= f.text_area :detail %>
          </div>
        </div>
        <div><%= f.submit '対象にルール行使' %></div>
      <% end %>
    </div>
  </div>