  <div class="community-info">
    <%= render 'communities/info', community: @community, currentUser: @currentUser %>
  </div>

  <div class="community-main">
    <p class="page-title">ルール新規作成</p>
    <div class="comment">
      <p>
        <b>ルール作成のポイント</b><br>
        <br>
        ゴール達成が遠のく行動には、マイナスのポイントを設定しましょう。<br>
        <br>
        強制ではないけど、やるとゴール達成に近づく、モチベーションがアップする行動には<br>
        マイナスのポイントを設定しましょう<br>
        <br>
        線引きが難しいルールの設定は避けスローガンに設定しましょう。<br>
        <br>
      </p>
    </div>
    <div>
      <%= form_with(model:[@community, @rule], url: community_rules_path{@community.id}, local:true) do |f| %> <!--modelが配列してある理由：ネストしている時は親(community)のインスタンスも必要になる-->
        <label>ルール内容</label>
        <div>
          <%= f.text_area :content, placeholder: "ルール内容をここに" %>
        </div>
        <label>ポイント(−ポイント指定可能)</label>
        <div>
          <%= f.text_field :point, placeholder: "ルールによるポイント加減をここに" %>
        </div>
        <label>ジャンル</label>
        <div>
          <%= f.text_field :genre, placeholder: "ジャンルをここに" %>
        </div>
        <label>対象メンバー</label>
        <div>
          <%= collection_check_boxes(:rule, :user_ids, User.joins(:community_users).where(community_users: {community_id: params[:community_id]}), :id, :name, include_hidden: false) do |user| %>
            <%= user.check_box %>
            <%= user.text %>
          <% end %>
        </div>
        <div>
          <%= f.submit '新規作成' %>
        </div>
      <% end %>
    </div>
  </div>