  <div class="community-background">
    <% if @community.community_image.attached? %>
      <%= image_tag @community.community_image %>
    <% end %>
  </div>
  <div class="community-info">
    <%= render 'communities/info', community: @community, currentUser: @currentUser %>
  </div>
  <div class="community-main">
    <div class="page-title">マイナスルール新規作成</div>
    <div>
      <%= form_with(model:[@community, @rule], url: community_rules_path{@community.id}, local:true, class: "form") do |f| %> <!--modelが配列してある理由：ネストしている時は親(community)のインスタンスも必要になる-->
        <div class="form-section">
          <label><%= f.label :content, "ルール内容", class: "form-label" %><span class="form-note">必須</span></label>
          <div>
            <%= f.text_field :content, class: "form-area-small" %>
          </div>
          <div class="comment">
            <i class="fa-solid fa-circle-info">設定のヒント</i>
            <div class="comment-content">
              ゴール達成が遠のく行動には、マイナスのポイントを設定しましょう。<br>
              線引きが難しいルールの設定は避けスローガンに設定しましょう。
            </div>
          </div>
        </div>
        <div class="form-section">
          <label><%= f.label :point, "減少ポイント", class: "form-label" %><span class="form-note">必須</span></label>
          <div>
            <%= f.text_field :point, placeholder: "マイナス指定", class: "form-area-small" %>
          </div>
        </div>
        <div class="form-section">
          <label><%= f.label :genre, "ジャンル", class: "form-label" %><span class="form-note">必須</span></label>
          <div>
            <%= f.text_field :genre, class: "form-area-small" %>
          </div>
        </div>
        <div class="form-section">
          <label><%= f.label :user_ids, "対象メンバー", class: "form-label" %><span class="form-note">必須</span></label>
          <div class="form-check-box">
            <%= collection_check_boxes(:rule, :user_ids, User.joins(:community_users).where(community_users: {community_id: params[:community_id]}), :id, :name, include_hidden: false) do |user| %>
              <div><%= user.check_box %></div>
              <div class="form-check-box-label"><%= user.text %></div>
            <% end %>
          </div>
        </div>
        <div class="submittion">
          <%= f.submit '新規作成', class: "done-btn" %>
        </div>
      <% end %>
    </div>
  </div>