  <div class="community-info">
    <%= render 'communities/info', community: @community, currentUser: @currentUser %>
  </div>

  <div class="community-main">
    <p class="page-title">ルール詳細</p>
    <div>
      <p>内容：<%= @rule.content %></p>
      <p>ポイント増減：<%= @rule.point %></p>
      <p>作成日：<%= @rule.created_at.strftime('%Y/%m/%d') %></p>
      <p>作成者：<%= @rule.creating_user.name %></p>
      <p>最終更新者：<%= @rule.updating_user.name %></p>
    </div>
    <div>
      <p><%= link_to "コミュニティTopへ", community_path(@community.id) %></p>
    </div>
  </div>