  <h1>ルール詳細</h1>
  
  <div></div>
    <p><%= @rule.content %></p>
    <p><%= @rule.point %></p>
    <p><%= @rule.date %></p>
    <p>作成者：<%= @rule.creating_user.name =></p>
    <p>最終更新者：<%= @rule.updating_user.name =></p>
  </div>
  
  <div>
    <p><%= link_to "コミュニティTopへ", community_path(@community.id) %></p>
  </div>