  <div class="community-info-contents">
    <ul class="community-navigation-items">
      <li class="community-navigation-item"><%= link_to "ダッシュボード", community_path(community.id), class: "community-navigation-link" %></li>
      <li class="community-navigation-item"><%= link_to "マイページ", community_user_mypage_path(community.id, currentUser.user_id), class: "community-navigation-link" %></li>
      <li class="community-navigation-item"><%= link_to "メンバー", community_users_path(community.id), class: "community-navigation-link" %></li>
      <li class="community-navigation-item"><%= link_to "ルール", community_rules_path(community.id), class: "community-navigation-link" %></li>
      <li class="community-navigation-item"><%= link_to "報酬&ペナルティ", community_privileges_path(community.id), class: "community-navigation-link" %></li>
      <li class="community-navigation-item"><%= link_to "スローガン", community_mottos_path(community.id), class: "community-navigation-link" %></li>
      <li class="community-navigation-item"><%= link_to "ゴール", community_goals_path(community.id), class: "community-navigation-link" %></li>
      <li class="community-navigation-item"><%= link_to "会議", community_meetings_path(community.id), class: "community-navigation-link" %></li>
      <li class="community-navigation-item"><%= link_to "コンテンツ", community_articles_path(community.id), class: "community-navigation-link" %></li>
    </ul>
    <div class="community-basic-info">
      <div class="community-basic-info-name-title">参加中のコミュニティ</div>
      <div class="community-basic-info-name-content"><%= community.community_name %></div>
      <div class="community-basic-info-detail">
        <i class="fa-solid fa-circle-info community-basic-info-detail-cta"></i>
        <div class="community-info-window">
          <div class="community-info-window-section">
            <div class="community-info-window-section-title">コミュニティ名</div>
            <div class="community-info-window-section-content-small">
              <%= community.community_name %>
            </div>
          </div>
          <div class="community-info-window-section">
            <div class="community-info-window-section-title">概要</div>
            <div class="community-info-window-section-content-large">
              <% if community.introduction.present? %>
                <%= safe_join(community.introduction.split("\n"),tag(:br)) %>
              <% else %>
                ※概要はありません。
              <% end%>
            </div>
          </div>
          <div class="community-info-window-section">
            <div class="community-info-window-section-title">利用上の注意点</div>
            <div class="community-info-window-section-content-large">
              <% if community.manual.present? %>
                <%= safe_join(community.manual.split("\n"),tag(:br)) %>
              <% else %>
                ※利用上の注意点はありません。
              <% end%>
            </div>
          </div>
          <div class="community-info-window-submission">
            <% if community.owner_id == current_user.id %>
              <%= link_to "編集する", edit_community_path(community.id), class: "community-info-window-submission-cta" %>
            <% end %>
          </div>
         </div>
      </div>
    </div>
  </div>