  <div class="community-header">
    <div class="head-community-info">
      <p class="head-community-name"><%= community.community_name %>：<%= community.introduction %></p>
    </div>
    <div>
      <ul class="community-navigation">
        <li class="community-navigation-item"><%= link_to "ダッシュボード", community_path(community.id) %></li>
        <li class="community-navigation-item"><%= link_to "マイページ", community_user_mypage_path(community.id, currentUser.id) %></li>
        <li class="community-navigation-item"><%= link_to "メンバー", community_users_path(community.id) %></li>
        <li class="community-navigation-item"><%= link_to "モットー", community_mottos_path(community.id) %></li>
        <li class="community-navigation-item"><%= link_to "ルール", community_rules_path(community.id) %></li>
        <li class="community-navigation-item"><%= link_to "特典&ペナルティ", community_privileges_path(community.id) %></li>
      </ul>
    </div>
  </div>