  <div class="community-info-contents">
    <div class="community-info-main">
      <p class="community-info-name">参加中のコミュニティ：<b><%= community.community_name %></b></p>
      <p class="community-info-detail"><%= link_to "詳細表示", community_detail_path(community.id), class: "community-detail-link" %></p>
    </div>
    <div>
      <ul class="community-navigation">
        <li class="community-navigation-item"><%= link_to "ダッシュボード", community_path(community.id), class: "community-navigation-link" %></li>
        <li class="community-navigation-item"><%= link_to "マイページ", community_user_mypage_path(community.id, currentUser.id), class: "community-navigation-link" %></li>
        <li class="community-navigation-item"><%= link_to "メンバー", community_users_path(community.id), class: "community-navigation-link" %></li>
        <li class="community-navigation-item"><%= link_to "ミーティング", community_meetings_path(community.id), class: "community-navigation-link" %></li>
        <li class="community-navigation-item"><%= link_to "スローガン", community_mottos_path(community.id), class: "community-navigation-link" %></li>
        <li class="community-navigation-item"><%= link_to "ルール", community_rules_path(community.id), class: "community-navigation-link" %></li>
        <li class="community-navigation-item"><%= link_to "報酬&ペナルティ", community_privileges_path(community.id), class: "community-navigation-link" %></li>
      </ul>
    </div>
  </div>