  <p class="page-title">コミュニティ編集</p>
  <div>
    <%= form_with(model:[@community], local:true) do |f| %>
      <div>
        <label><%= f.label :community_name, "コミュニティ名" %><span class="form-note">必須</span></label>
        <div>
          <%= f.text_field :community_name, placeholder: "250文字まで" %>
        </div>
      </div>
      <div>
        <label><%= f.label :genre, "コミュニティジャンル" %><span class="form-note">必須</span></label>
        <div>
          <%= f.select :genre, [["夫婦・カップル", "夫婦・カップル"], ["家族", "家族"], ["兄弟・姉妹", "兄弟・姉妹"], ["友達", "友達"], ["その他", "その他"]], include_blank: "選択してください" %>
        </div>
      </div>
      <div>
        <label><%= f.label :introduction, "コミュニティ概要" %></label>
        <div>
          <%= f.text_area :introduction, placeholder: "30文字以内" %>
        </div>
      </div>
      <div>
        <label><%= f.label :manual, "コミュニティ利用上の注意" %></label>
        <div>
          <%= f.text_area :manual %>
        </div>
      </div>
      <div>
        <label><%= f.label :profile_image, "背景画像" %><span class="form-note">JPEGファイルに対応</span</label>
        <div class="community-background-edit"><%= attachment_image_tag @community, :community_image, format: 'jpeg', fallback: "plants.jpg" %></div>
        <div><%= f.attachment_field :community_image, placeholder: "画像を選択してください" %></div>
      </div>
      <div>
        <%= f.submit '編集完了' %>
      </div>
    <% end %>
  </div>