  <p class="page-title">コミュニティ編集</p>
  <div>
    <%= form_with(model:[@community], local:true) do |f| %>
      <div>
        <label>コミュニティ名</label>
        <span>250文字まで</span>
        <div>
          <%= f.text_field :community_name %>
        </div>
      </div>
      <div>
        <label>ジャンル</label>
        <div>
          <%= f.select :genre, [["夫婦・カップル", "夫婦・カップル"], ["家族", "家族"], ["兄弟・姉妹", "兄弟・姉妹"], ["友達", "友達"], ["その他", "その他"]], include_blank: "選択してください" %>
        </div>
      </div>
      <div>
        <label>概要</label>
        <span>250文字まで</span>
        <div>
          <%= f.text_area :introduction %>
        </div>
      </div>
      <div>
        <label>注意点</label>
        <div>
          <%= f.text_area :manual %>
        </div>
      </div>
      <div>
        <%= f.submit '編集完了' %>
      </div>
    <% end %>
  </div>