  <div class="community-info">
    <%= render 'communities/info', community: @community, currentUser: @currentUser %>
  </div>

  <div class="community-main">
    <p class="page-title"><%= @community.community_name %>のダッシュボード</p>
    <div class="community-dashboard round">
        <!-- ルールの棒グラフ一覧表示（ジャンル別）-->
        <!-- コミュニティ健全度の表示(定義説明あり) -->
        <!-- ポイント上位メンバーのランキング-->
      <section class="community-dashboard-section">
        <p class="community-dashboard-section-title">ルールの数</p>
        <p class="community-dashboard-section-content">
          <% if @community.rules.present? %>
            <%= @community.rules.count %>
          <% else %>
            0
          <% end %>
        </p>
      </section class="community-dashboard-section">
      <section class="community-dashboard-section">
        <p class="community-dashboard-section-title">報酬の数</p>
        <p class="community-dashboard-section-content">
          <% if @community.privileges.present? %>
            <%= @community.privileges.count %>
          <% else %>
            0
          <% end %>
        </p>
      </section>
      <section class="community-dashboard-section">
        <p class="community-dashboard-section-title">ペナルティの数</p>
        <p class="community-dashboard-section-content">
          <% if @community.penalties.present? %>
            <%= @community.penalties.count %>
          <% else %>
            0
          <% end %>
        </p>
      </section>
      <section class="community-dashboard-section">
        <p class="community-dashboard-section-title">今月のルール実行回数</p>
        <p class="community-dashboard-section-content">
          <% if @excutedRules.present? %>
            <%= @excutedRules.count %>
          <% else %>
            0
          <% end %>
        </p>
      </section>
      <section class="community-dashboard-section">
        <p class="community-dashboard-section-title">メンバーの人数<p>
        <p class="community-dashboard-section-content"><%= @community.users.count %></p>
      </section>
        <!-- メンバーアイコンで表示(リンク有※メンバーの一覧ページ) -->
    </div>
    <div class="community-users round">
      <p class="section-title">メンバー</p>
      <div class="community-user-list">
      <% @community.users.each do |user| %>
        <div class="community-user">
          <div class="profile_image"><%= attachment_image_tag user, :profile_image, :fill, 80, 80, format: 'jpeg', fallback: "f_f_event_98_s512_f_event_98_0bg.jpg", size:'80x80'%></div>
          <p class="community-user-name"><b><%= user.name %></b></p>
        </div>
      <% end %>
      </div>
    </div>
    <div class="meeting round">
      <div class="meeting-header">
        <p class="section-title">ミーティング</p>
        <div>
          <% unless @nextMeeting.present? %>
            <span class="meeting-header-menu-1"><%= link_to "新規ミーティング設定", new_community_meeting_path(@community.id) %></span>
          <% end %>
          <span class="meeting-header-menu-2"><%= link_to "ミーティング一覧", community_meetings_path(@community.id) %></span>
        </div>
      </div>
      <div class="meetings">
        <% if @nextMeeting.present? %>
            <div class="next-meeting">
              <div class="meeting-index">
                <p class="meeting-index-letter">予定</p>
              </div>
              <div class="meeting-content">
                <div class="meeting-pre-edit"><%= link_to "︎予定変更", community_meeting_pre_edit_path(@community.id, @nextMeeting.id) %></div>
                <div class="meeting-name"><%= @nextMeeting.name %></div>
                <p id="meetingCountTimer"></p>
                <div class="meeting-date"><%= @nextMeeting.date.to_s(:datetime_jp) %></div>
                <div class="meeting-cta"><%= link_to "ミーティングを始める", edit_community_meeting_path(@community.id, @nextMeeting.id) %></div>
              </div>
            </div>
        <% else %>
          <p>実施予定のミーティングはありません。</p>
        <% end %>
        <% if @meetingsInProgress.present? %>
          <% @meetingsInProgress.each do |meeting| %>
          <div class="meeting-in-progress">
            <div class="meeting-index">
              <p class="meeting-index-letter">編集中</p>
            </div>
            <div class="meeting-content">
              <div class="meeting-name"><%= meeting.name %></div>
              <div class="meeting-cta"><%= link_to "議事録に戻る", edit_community_meeting_path(@community.id, meeting.id) %></div>
            </div>
          </div>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="goals round">
      <div class="goal-header">
        <p class="section-title">ゴール</p>
        <% if @goal.present? %>
          <p><%= link_to "ゴール編集", edit_community_goal_path(@community.id) %></p>
        <% else %>
          <p><%= link_to "ゴール作成", new_community_goal_path(@community.id) %></p>
        <% end %>
      </div>
      <div class="goal-show">
        <% if @goal.present? %>
          <div class="goal-content">
            <p class="goal-content-letters"><%= @goal.content %></p>
            <div class="goal-content-background-line"></div>
          </div>
          <% if @goal.deadline.present? %>
            <div class="till-goal">
              <p class="till-goal-letters">ゴール達成まで残り</p>
            </div>
            <div class="goal-deadline">
              <p class="goal-deadline-timer" id="goalCountTimer"></p>
            </div>
          <% end %>
        <% else %>
          <div>
            <p>コミュニティのメンバー全員で目指す目標を決めましょう！</p>
          </div>
        <% end %>
      </div>
    </div>
    <div class="mottos round">
      <div class="mottos-header">
        <p class="section-title">スローガン</p>
        <p><%= link_to "スローガン編集", community_mottos_path(@community.id) %></p>
      </div>
      <% if @mottos.present? %>
        <div class="mottos-show">
        <% @mottos.each.with_index(1) do |motto, index| %>
          <div class="motto-index">
            <p class="motto-index-number"><b><%= index %></b></p>
          </div>
          <div class="motto-content">
            <p class="motto-content-letters"><%= motto.content %></p>
            <div class="mottos-content-background-line"></div>
          </div>
        <% end %>
        </div>
      <% else %>
        <p>このコミュニティにはまだスローガンがありません。</p>
      <% end %>
      </div>
    <div class="rules round">
      <div class="rules-header">
        <p class="section-title">ルール</p>
        <p><%= link_to "ルール編集", community_rules_path(@community.id) %></p>
      </div>
      <% if @rules.present? %>
      <div class="community-rules-in-dashboard">
        <% @rules.each do |rule| %>
        <div class="community-rule-box">
          <div class="community-rule-box-genre"><%= rule.genre %></div>
          <div class="community-rule-box-content"><%= rule.content %></div>
          <div class="community-rule-box-point"><%= rule.point %><span class="point-letter">ポイント</span></div>
          <div class="community-rule-box-cta"><%= link_to "実行", community_rule_execute_path(@community.id, rule.id), class: "rule-execute-btn" %></div>
        </div>
        <% end %>
      <% else %>
        <p>このコミュニティにはまだルールがありません。</p>
      <% end %>
      </div>
    </div>
    <div class="late-actibities round">
      <div class="late-activities-header">
        <p class="section-title">直近10件の活動履歴</p>
        <p><%= link_to "過去30日の活動履歴", community_records_path(@community.id) %></p>
      </div>
    </div>
  </div>
  <!-- 以下JavaScript -->
  <script>
  //ゴール達成までのカウントダウン
    // タイマーの日付を設定
    var countDownDate = new Date(gon.deadline).getTime();
    // 1秒おきに更新
    var x = setInterval(function() {
      // 今日の日付と時間を取得
      var now = new Date().getTime();
      // 日付と時間の計算
      var distance = countDownDate - now;
      var days = Math.floor(distance / (1000 * 60 * 60 * 24));
      var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
      var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
      var seconds = Math.floor((distance % (1000 * 60)) / 1000);
      // 出力する内容
      document.getElementById("goalCountTimer").innerHTML = days + "<span>日</span>" + hours + "<span>時間</span>" + minutes + "<span>分</span>" + seconds + "<span>秒</span>";
      // タイマー終了後
      if (distance < 0) {
        clearInterval(x);
        document.getElementById("goalCountTimer").innerHTML = "期限終了です。目標は達成できましたか？";
      }
    }, 1000);
  //次のミーティングまでのカウントダウン
    //指定日程を定義
    var y = gon.year; // 年
    var m = gon.month; // 月
    var d = gon.day; // 日
    var tgday = y + "/" + m + "/" + d;

    var now = new Date();
    var days = Math.ceil((Date.parse(tgday) - now.getTime()) / (24 * 60 * 60 * 1000));

    // 表示開始
    if(days == 0) {
    	document.getElementById("meetingCountTimer").innerHTML = "<span>ミーティング当日です</span>"; // 指定日当日の表示
    }
    else if(days < 0) {
    	days = Math.abs(days);
    	document.getElementById("meetingCountTimer").innerHTML =  days + "日経過"; // 指定日後の表示
    }
    else {
    	document.getElementById("meetingCountTimer").innerHTML = "あと" + days + "日"; // 指定日前の表示
    }
  </script>