  <h1><%= @community.community_name %>ダッシュボード</h1>

  <div class="community-users">
    <% @community.users.each do |user| %>
      <%= user.name %>
    <% end %>
  </div>

  <div class="community-dashboard">
      <p>コミュニティ説明：<%= @community.introduction %></p>
      <!-- モットーの表示 -->
      <!-- ルールの棒グラフ一覧表示（ジャンル別）-->
      <!-- コミュニティ健全度の表示(定義説明あり) -->
      <!-- ジャンル別のルール制定量の表示 -->
      <p>参加者数：<%= @community.users.count %>人<p>
      <!-- メンバーアイコンで表示(リンク有※メンバーの一覧ページ) -->
  </div>

  <div>
      <p><%= link_to "全モットー表示", community_mottos_path(@community.id) %></p>
      <p><%= link_to "全ルール表示", community_rules_path(@community.id) %></p>
      <p><%= link_to "全特典・罰表示", community_privileges_path(@community.id) %></p>
      <p> <%= link_to "全参加メンバー表示", community_users_path(@community.id) %></p>
      <p><%= link_to 'コミュニティ基本情報編集', edit_community_path(@community.id) %><p>
  </div>