  <div class="community-background">
    <% if @community.community_image.attached? %>
      <%= image_tag @community.community_image %>
    <% end %>
  </div>
  <div class="community-info">
    <%= render 'communities/info', community: @community, currentUser: @currentUser %>
  </div>
  <div class="community-main">
    <div class="community-dashboard-wrapper-wrapper">
      <div class="community-dashboard-wrapper">
        <div class="community-dashboard-top">
          <div class="dashboard-quote">
            <% if @community.genre == "夫婦・カップル" %>
              <div class="dashboard-quote-content"><%= @coupleAdvice.quote %></div>
              <div class="dashboard-quote-detail">
                <span class="dashboard-quote-person"><%= @coupleAdvice.person %></span>
                <span class="dashboard-quote-biography"><%= @coupleAdvice.biography %></span>
              </div>
            <% else %>
              <div class="dashboard-quote-content">定期的にゴール、ルールなどの内容を見直しましょう！</div>
              <div class="dashboard-quote-detail">
                <span class="dashboard-quote-person">Gachiru.運営者</span>
              </div>
            <% end %>
          </div>
        </div>
        <div class="community-dashboard-middle">
          <div class="dashboard-goal">
              <% if @goal.present? %>
                <div class="dashboard-goal-edit">
                  <%= link_to community_goals_path(@community.id) do %>
                    <i class="fa-solid fa-ellipsis"></i>
                  <% end %>
                </div>
                <div class="dashboard-goal-contents-wrapper">
                  <div class="dashboard-goal-contents">
                    <div class="dashboard-goal-subject"><%= @goal.content %></div>
                    <div class="dashboard-goal-deadline">
                      <% if @goal.deadline.present? %>
                        <div class="till-community-goal">達成までの残り時間</div>
                        <div class="goal-deadline-timer" id="goalCountTimer"></div>
                        <div class="goal-timeline">
                          <% if @goal.deadline > Time.now %>
                            <div style="position:absolute; left: <%= (@passed_ratio * 100).round %>%; top:0; height: 100%; width: <%= (@remaining_ratio * 100).round %>%; background-color: #ffd139; border-radius: 8px;"></div>
                          <% end %>
                        </div>
                        <div class="active-goal-achievement">
                          <% if @goal.deadline < Time.now %>  <!-- 今よりdeadlineの方が小さい（deadlineを過ぎたら） -->
                            <div class="active-goal-achievement-true"><%= link_to "達成", community_goal_achieved_path(@community.id, @goal.id), class: "active-goal-achievement-true-cta" %></div>
                            <div class="active-goal-achievement-false"><%= link_to "未達成", community_goal_unachieved_path(@community.id, @goal.id), class: "active-goal-achievement-false-cta" %></div>
                          <% end %>
                        </div>
                      <% end %>
                    </div>
                  </div>
                </div>
              <% else %>
                <div class="dashboard-goal-alt-view-wrapper">
                  <div class="dashboard-goal-alt-view">
                    <div class="alt-text">コミュニティのメンバー全員で目指すゴールを決めましょう！</div>
                    <div class="dashboard-goal-new"><%= link_to "ゴール設定", new_community_goal_path(@community.id), class: "dashboard-goal-new-cta" %></div>
                  </div>
                </div>
              <% end %>
          </div>
          <div class="dashboard-meetings">
            <% if @nextMeeting.present? %>
              <div class="dashboard-next-meeting">
                <div class="dashboard-meeting-content">
                  <div class="dashboard-meeting-index">
                    <div class="dashboard-meeting-index-letter">予定している会議</div>
                  </div>
                  <div class="dashboard-meeting-pre-edit">
                    <%= link_to community_meeting_pre_edit_path(@community.id, @nextMeeting.id) do %>
                      <i class="fa-regular fa-pen-to-square"></i>
                    <% end %>
                  </div>
                  <div class="dashboard-meeting-name-wrapper">
                    <div class="dashboard-meeting-name">
                      <% if @nextMeeting.name.present? %>
                        <%= @nextMeeting.name %>
                      <% else %>
                        <div>題名がありません</div>
                      <% end %>
                    </div>
                  </div>
                  <div class="dashboard-meeting-count-timer" id="meetingCountTimer"></div>
                  <div class="dashboard-meeting-detail">
                    <% if @nextMeeting.date.present? %>
                      <div class="dashboard-meeting-date"><%= @nextMeeting.date.to_s(:datetime_jp) %></div>
                    <% else %>
                      <div class="dashboard-meeting-date">日時未定</div>
                    <% end %>
                    <% if @nextMeeting.place.present? %>
                      <div class="dashboard-meeting-place">@<%= @nextMeeting.place %></div>
                    <% else %>
                      <div class="dashboard-meeting-place">場所未定</div>
                    <% end %>
                  </div>
                  <div class="dashboard-meeting-start"><%= link_to "会議を始める", edit_community_meeting_path(@community.id, @nextMeeting.id), class: "dashboard-meeting-start-cta" %></div>
                </div>
              </div>
            <% else %>
              <div class="dashboard-next-meeting-alt-view-wrapper">
                <div class="dashboard-next-meeting-alt-view">
                  <div class="alt-text">会議の実施予定はありません。</div>
                  <div class="dashboard-meeting-new"><%= link_to "会議を設定", new_community_meeting_path(@community.id), class: "dashboard-meeting-new-cta" %></div>
                </div>
              </div>
            <% end %>
            <% if @meetingsInProgress.present? %>
              <div class="dashboard-meeting-in-progress">
                <div class="dashboard-meeting-content">
                  <div class="dashboard-meeting-index">
                    <div class="dashboard-meeting-index-letter">編集中の会議</div>
                  </div>
                  <div class="dashboard-meeting-name"><%= @meetingsInProgress.name %></div>
                  <div class="dashboard-back-to-meeting"><%= link_to "議事録に戻る", edit_community_meeting_path(@community.id, @meetingsInProgress.id), class: "dashboard-back-to-meeting-cta" %></div>
                </div>
              </div>
            <% else %>
              <div class="dashboard-meeting-in-progress-alt-view-wrapper">
                <div class="dashboard-meeting-in-progress-alt-view">
                  <div class="alt-text">編集中の会議議事録はありません。</div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
        <div class="community-dashboard-bottom">
          <div class="dashboard-figures">
            <div class="dashboard-figure">
              <div class="dashboard-figure-title">ルール</div>
              <div class="dashboard-figure-content">
                <% if @community.rules.present? %>
                  <%= @community.rules.count %>
                <% else %>
                  0
                <% end %>
              </div>
            </div>
            <div class="dashboard-figure">
              <div class="dashboard-figure-title">報酬</div>
              <div class="dashboard-figure-content">
                <% if @community.privileges.present? %>
                  <%= @community.privileges.count %>
                <% else %>
                  0
                <% end %>
              </div>
            </div>
            <div class="dashboard-figure">
              <div class="dashboard-figure-title">ペナルティ</div>
              <div class="dashboard-figure-content">
                <% if @community.penalties.present? %>
                  <%= @community.penalties.count %>
                <% else %>
                  0
                <% end %>
              </div>
            </div>
            <div class="dashboard-figure">
              <div class="dashboard-figure-title">ルール実行</div>
              <div class="dashboard-figure-content">
                <% if @excutedRules.present? %>
                  <%= @excutedRules.count %>
                <% else %>
                  0
                <% end %>
              </div>
            </div>
            <div class="dashboard-figure">
              <div class="dashboard-figure-title">メンバー</div>
              <div class="dashboard-figure-content"><%= @acceptedUsers.count %></div>
            </div>
          </div>
          <div class="dashboard-mottos">
            <div class="dashboard-mottos-title">スローガン</div>
            <% if @mottos.present? %>
              <div class="dashboard-mottos-edit">
                <%= link_to community_mottos_path(@community.id) do %>
                  <i class="fa-solid fa-ellipsis"></i>
                <% end %>
              </div>
              <div class="dashboard-motto-list">
                <% @mottos.each.with_index(1) do |motto, index| %>
                  <div class="dashboard-each-motto">
                    <div class="dashboard-each-motto-index"><%= index %></div>
                    <div class="dashboard-each-motto-content">
                      <div class="dashboard-each-motto-content-letters"><%= motto.content %></div>
                    </div>
                  </div>
                <% end %>
              </div>
            <% else %>
              <div class="dashboard-mottos-alt-view-wrapper">
                <div class="dashboard-mottos-alt-view">
                  <div class="alt-text">このコミュニティにはまだスローガンがありません。</div>
                  <div class="dashboard-motto-new"><%= link_to "スローガン設定", new_community_motto_path(@community.id), class: "dashboard-motto-new-cta" %></div>
                </div>
              </div>
            <% end %>
          </div>
          <div class="dashboard-late-activities">
            <div class="late-activities-title">30日間の設定履歴</div>
            <div class="late-activities-cta">
              <%= link_to community_records_path(@community.id) do %>
                <i class="fa-solid fa-ellipsis"></i>
              <% end %>
            </div>
            <div class="dashboard-ten-days-record">
              <% if @records.present? %>
                <div class="dashboard-all-records">
                  <% @records.each do |record| %>
                  <div class="dashboard-each-record">
                    <% if record.action_type == "Motto" %>
                      <% if record.version == 1 %>
                        <div class="dashboard-record-content"><span class="record-motto">スローガン</span>「<%= record.content %>」が<%= record.user.name %>によって作成されました。<br><span class="record-date"><%= record.created_at.to_s(:datetime_jp) %></span></div>
                      <% elsif record.version == 0 %>
                        <div class="dashboard-record-content"><span class="record-motto">スローガン</span>「<%= record.content %>」が<%= record.user.name %>によって削除されました。<br><span class="record-date"><%= record.created_at.to_s(:datetime_jp) %></span></div>
                      <% else %>
                        <div class="dashboard-record-content"><span class="record-motto">スローガン</span>「<%= record.content %>」が<%= record.user.name %>によって編集されました。<br><span class="record-date"><%= record.created_at.to_s(:datetime_jp) %></span></div>
                      <% end %>
                    <% elsif record.action_type == "Rule" %>
                      <% if record.version == 1 %>
                        <div class="dashboard-record-content"><span class="record-rule">ルール</span>「<%= record.content %>」が<%= record.user.name %>によって作成されました。<br><span class="record-date"><%= record.created_at.to_s(:datetime_jp) %></span></div>
                      <% elsif record.version == 0 %>
                        <div class="dashboard-record-content"><span class="record-rule">ルール</span>「<%= record.content %>」が<%= record.user.name %>によって削除されました。<br><span class="record-date"><%= record.created_at.to_s(:datetime_jp) %></span></div>
                      <% else %>
                        <div class="dashboard-record-content"><span class="record-rule">ルール</span>「<%= record.content %>」が<%= record.user.name %>によって編集されました。<br><span class="record-date"><%= record.created_at.to_s(:datetime_jp) %></span></div>
                      <% end %>
                    <% elsif record.action_type == "Privilege" %>
                      <% if record.version == 1 %>
                        <div class="dashboard-record-content"><span class="record-privilege">報酬</span>「<%= record.content %>」が<%= record.user.name %>によって作成されました。<br><span class="record-date"><%= record.created_at.to_s(:datetime_jp) %></span></div>
                      <% elsif record.version == 0 %>
                        <div class="dashboard-record-content"><span class="record-privilege">報酬</span>「<%= record.content %>」が<%= record.user.name %>によって削除されました。<br><span class="record-date"><%= record.created_at.to_s(:datetime_jp) %></span></div>
                      <% else %>
                        <div class="dashboard-record-content"><span class="record-privilege">報酬</span>「<%= record.content %>」が<%= record.user.name %>によって編集されました。<br><span class="record-date"><%= record.created_at.to_s(:datetime_jp) %></span></div>
                      <% end %>
                    <% elsif record.action_type == "Penalty" %>
                      <% if record.version == 1 %>
                        <div class="dashboard-record-content"><span class="record-penalty">ペナルティ</span>「<%= record.content %>」が<%= record.user.name %>によって作成されました。<br><span class="record-date"><%= record.created_at.to_s(:datetime_jp) %></span></div>
                      <% elsif record.version == 0 %>
                        <div class="dashboard-record-content"><span class="record-penalty">ペナルティ</span>「<%= record.content %>」が<%= record.user.name %>によって削除されました。<br><span class="record-date"><%= record.created_at.to_s(:datetime_jp) %></span></div>
                      <% else %>
                        <div class="dashboard-record-content"><span class="record-penalty">ペナルティ</span>「<%= record.content %>」が<%= record.user.name %>によって編集されました。<br><span class="record-date"><%= record.created_at.to_s(:datetime_jp) %></span></div>
                      <% end %>
                    <% elsif record.action_type == "Goal" %>
                      <% if record.version == 1 %>
                        <div class="dashboard-record-content"><span class="record-goal">ゴール</span>「<%= record.content %>」が<%= record.user.name %>によって作成されました。<br><span class="record-date"><%= record.created_at.to_s(:datetime_jp) %></span></div>
                      <% elsif record.version == 0 %>
                        <div class="dashboard-record-content"><span class="record-goal">ゴール</span>「<%= record.content %>」が<%= record.user.name %>によって削除されました。<br><span class="record-date"><%= record.created_at.to_s(:datetime_jp) %></span></div>
                      <% else %>
                        <div class="dashboard-record-content"><span class="record-goal">ゴール</span>「<%= record.content %>」が<%= record.user.name %>によって編集されました。<br><span class="record-date"><%= record.created_at.to_s(:datetime_jp) %></span></div>
                      <% end %>
                    <% end %>
                  </div>
                  <% end %>
                </div>
              <% else %>
                <div class="dashboard-all-records-alt-view">
                  <div class="alt-text">まだこのコミュニティの活動はありません。</div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- 以下JavaScript -->