  <div class="in-community">
    <div class="community-info">
      <%= render 'communities/info', community: @community, currentUser: @currentUser %>
    </div>
    <div class="community-main-top">
      <div class="first-column">
          <!-- ルールの棒グラフ一覧表示（ジャンル別）-->
          <!-- コミュニティ健全度の表示(定義説明あり) -->
          <!-- ポイント上位メンバーのランキング-->
        <section class="community-dashboard-section">
          <p class="community-dashboard-section-title">ルール数</p>
          <p class="community-dashboard-section-content">
            <% if @community.rules.present? %>
              <%= @community.rules.count %>
            <% else %>
              0
            <% end %>
          </p>
        </section class="community-dashboard-section">
        <section class="community-dashboard-section">
          <p class="community-dashboard-section-title">報酬数</p>
          <p class="community-dashboard-section-content">
            <% if @community.privileges.present? %>
              <%= @community.privileges.count %>
            <% else %>
              0
            <% end %>
          </p>
        </section>
        <section class="community-dashboard-section">
          <p class="community-dashboard-section-title">ペナルティ数</p>
          <p class="community-dashboard-section-content">
            <% if @community.penalties.present? %>
              <%= @community.penalties.count %>
            <% else %>
              0
            <% end %>
          </p>
        </section>
        <section class="community-dashboard-section">
          <p class="community-dashboard-section-title">ルール実行数</p>
          <p class="community-dashboard-section-content">
            <% if @excutedRules.present? %>
              <%= @excutedRules.count %>
            <% else %>
              0
            <% end %>
          </p>
        </section>
        <section class="community-dashboard-section">
          <p class="community-dashboard-section-title">メンバー人数<p>
          <p class="community-dashboard-section-content"><%= @community.users.count %></p>
        </section>
          <!-- メンバーアイコンで表示(リンク有※メンバーの一覧ページ) -->
      </div>
      <div class="second-column">
        <div class="meetings">
          <% if @nextMeeting.present? %>
              <div class="next-meeting">
                <div class="meeting-content">
                  <div class="meeting-index">
                    <p class="meeting-index-letter">予定しているミーティング</p>
                  </div>
                  <div class="meeting-pre-edit">
                    <p><%= link_to "︎予定変更", community_meeting_pre_edit_path(@community.id, @nextMeeting.id) %></p>
                  </div>
                  <div class="meeting-name">
                    <% if @nextMeeting.name.present? %>
                      <%= @nextMeeting.name %>
                    <% else %>
                      <p>題名がありません</p>
                    <% end %>
                  </div>
                  <p class="meeting-count-timer" id="meetingCountTimer"></p>
                  <div class="meeting-date">
                    <% if @nextMeeting.date.present? %>
                      <%= @nextMeeting.date.to_s(:datetime_jp) %>
                    <% end %>
                  </div>
                  <div class="meeting-cta"><%= link_to "ミーティングを始める", edit_community_meeting_path(@community.id, @nextMeeting.id), class: "meeting-cta-btn" %></div>
                </div>
              </div>
          <% else %>
            <p class="alt-text">実施予定のミーティングはありません。</p>
          <% end %>
          <% if @meetingsInProgress.present? %>
            <% @meetingsInProgress.each do |meeting| %>
            <div class="meeting-in-progress">
              <div class="meeting-content">
                <div class="meeting-index">
                  <p class="meeting-index-letter">編集中のミーティング</p>
                </div>
                <div class="meeting-name"><%= meeting.name %></div>
                <div class="meeting-cta"><%= link_to "議事録に戻る", edit_community_meeting_path(@community.id, meeting.id) %></div>
              </div>
            </div>
            <% end %>
          <% end %>
        </div>
      </div>
      <div class="whole-screen">
        <div class="whole-screen-up">
          <div class="goal">
            <div class="goal-header">
              <% if @goal.present? %>
                <p class="goal-cta"><%= link_to "ゴール編集", edit_community_goal_path(@community.id) %></p>
              <% else %>
                <p class="goal-cta"><%= link_to "ゴール作成", new_community_goal_path(@community.id) %></p>
              <% end %>
              </div>
            <% if @goal.present? %>
              <div class="goal-content">
                <p class="goal-content-letters"><%= @goal.content %></p>
                <div class="goal-content-background-line"></div>
              </div>
              <% if @goal.deadline.present? %>
                <div class="till-goal">
                  <p class="till-goal-letters">ゴール達成まで残り</p>
                </div>
                <div class="goal-deadline">
                  <p class="goal-deadline-timer" id="goalCountTimer"></p>
                </div>
              <% end %>
            <% else %>
              <div>
                <p class="alt-text">コミュニティのメンバー全員で目指す目標を決めましょう！</p>
              </div>
            <% end %>
          </div>
        </div>
        <div class="whole-screen-down">
          <div class="mottos">
            <div class="community-mottos">
              <% if @mottos.present? %>
                <% @mottos.each.with_index(1) do |motto, index| %>
                <div class="community-motto">
                  <div class="community-motto-index">
                    <p class="community-motto-index-number"><b><%= index %></b></p>
                  </div>
                  <div class="community-motto-box">
                    <div class="community-motto-box-edit">
                      <p><%= link_to "詳細表示", community_motto_path(@community.id, motto.id) %><p>
                    </div>
                    <div class="community-motto-box-content">
                      <p class="community-motto-box-content-letters"><%= motto.content %></p>
                    </div>
                  </div>
                </div>
                <% end %>
              <% else %>
                <p class="alt-text">このコミュニティにはまだスローガンがありません。</p>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <div class="third-column">
        <div class="community-users">
          <div class="community-users-title">所属メンバー</div>
          <div class="community-user-list">
          <% @community.users.each do |user| %>
            <div class="community-user">
              <%= link_to community_user_path(@community.id, user.id) do %>
                <div class="profile_image"><%= attachment_image_tag user, :profile_image, :fill, 48, 48, format: 'jpeg', fallback: "f_f_event_98_s512_f_event_98_0bg.jpg", size:'48x48'%></div>
                <p class="community-user-name"><%= user.name %></p>
              <% end %>
            </div>
          <% end %>
          </div>
        </div>
        <div class="late-activities">
          <div class="late-activities-title">更新履歴</div>
          <p class="late-activities-cta"><%= link_to "過去30日の活動履歴", community_records_path(@community.id) %></p>
          <div class="ten-days-record">
            <% if @records.present? %>
              <% @records.each do |record| %>
                <% if record.action_type == "Motto" %>
                  <% if record.version == 1 %>
                    <p class="record-content"><span class="record-motto">スローガン</span>「<%= record.content %>」が作成されました。<br><span class="record-date"><%= record.created_at.to_s(:datetime_jp) %></span></p>
                  <% elsif record.version == 0 %>
                    <p class="record-content"><span class="record-motto">スローガン</span>「<%= record.content %>」が削除されました。<br><span class="record-date"><%= record.created_at.to_s(:datetime_jp) %></span></p>
                  <% else %>
                    <p class="record-content"><span class="record-motto">スローガン</span>「<%= record.content %>」が編集されました。<br><span class="record-date"><%= record.created_at.to_s(:datetime_jp) %></span></p>
                  <% end %>
                <% elsif record.action_type == "Rule" %>
                  <% if record.version == 1 %>
                    <p class="record-content"><span class="record-rule">ルール</span>「<%= record.content %>」が作成されました。<br><span class="record-date"><%= record.created_at.to_s(:datetime_jp) %></span></p>
                  <% elsif record.version == 0 %>
                    <p class="record-content"><span class="record-rule">ルール</span>「<%= record.content %>」が削除されました。<br><span class="record-date"><%= record.created_at.to_s(:datetime_jp) %></span></p>
                  <% else %>
                    <p class="record-content"><span class="record-rule">ルール</span>「<%= record.content %>」が編集されました。<br><span class="record-date"><%= record.created_at.to_s(:datetime_jp) %></span></p>
                  <% end %>
                <% elsif record.action_type == "Privilege" %>
                  <% if record.version == 1 %>
                    <p class="record-content"><span class="record-privilege">報酬</span>「<%= record.content %>」が作成されました。<br><span class="record-date"><%= record.created_at.to_s(:datetime_jp) %></span></p>
                  <% elsif record.version == 0 %>
                    <p class="record-content"><span class="record-privilege">報酬</span>「<%= record.content %>」が削除されました。<br><span class="record-date"><%= record.created_at.to_s(:datetime_jp) %></span></p>
                  <% else %>
                    <p class="record-content"><span class="record-privilege">報酬</span>「<%= record.content %>」が編集されました。<br><span class="record-date"><%= record.created_at.to_s(:datetime_jp) %></span></p>
                  <% end %>
                <% elsif record.action_type == "Penalty" %>
                  <% if record.version == 1 %>
                    <p class="record-content"><span class="record-penalty">ペナルティ</span>「<%= record.content %>」が作成されました。<br><span class="record-date"><%= record.created_at.to_s(:datetime_jp) %></span></p>
                  <% elsif record.version == 0 %>
                    <p class="record-content"><span class="record-penalty">ペナルティ</span>「<%= record.content %>」が削除されました。<br><span class="record-date"><%= record.created_at.to_s(:datetime_jp) %></span></p>
                  <% else %>
                    <p class="record-content"><span class="record-penalty">ペナルティ</span>「<%= record.content %>」が編集されました。<br><span class="record-date"><%= record.created_at.to_s(:datetime_jp) %></span></p>
                  <% end %>
                <% elsif record.action_type == "Goal" %>
                  <% if record.version == 1 %>
                    <p class="record-content"><span class="record-goal">ゴール</span>「<%= record.content %>」が作成されました。<br><span class="record-date"><%= record.created_at.to_s(:datetime_jp) %></span></p>
                  <% elsif record.version == 0 %>
                    <p class="record-content"><span class="record-goal">ゴール</span>「<%= record.content %>」が削除されました。<br><span class="record-date"><%= record.created_at.to_s(:datetime_jp) %></span></p>
                  <% else %>
                    <p class="record-content"><span class="record-goal">ゴール</span>「<%= record.content %>」が編集されました。<br><span class="record-date"><%= record.created_at.to_s(:datetime_jp) %></span></p>
                  <% end %>
                <% end %>
              <% end %>
            <% else %>
              <p>まだこのコミュニティの活動はありません。</p>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- 以下JavaScript -->
  <script>
  //ゴール達成までのカウントダウン
    // タイマーの日付を設定
    var countDownDate = new Date(gon.deadline).getTime();
    // 1秒おきに更新
    var x = setInterval(function() {
      // 今日の日付と時間を取得
      var now = new Date().getTime();
      // 日付と時間の計算
      var distance = countDownDate - now;
      var days = Math.floor(distance / (1000 * 60 * 60 * 24));
      var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
      var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
      var seconds = Math.floor((distance % (1000 * 60)) / 1000);
      // 出力する内容
      document.getElementById("goalCountTimer").innerHTML = days + "<span>日</span>" + hours + "<span>時間</span>" + minutes + "<span>分</span>" + seconds + "<span>秒</span>";
      // タイマー終了後
      if (distance < 0) {
        clearInterval(x);
        document.getElementById("goalCountTimer").innerHTML = "期限終了です。目標は達成できましたか？";
      }
    }, 1000);
  //次のミーティングまでのカウントダウン
    //指定日程を定義
    var y = gon.year; // 年
    var m = gon.month; // 月
    var d = gon.day; // 日
    var tgday = y + "/" + m + "/" + d;

    var now = new Date();
    var days = Math.ceil((Date.parse(tgday) - now.getTime()) / (24 * 60 * 60 * 1000));

    // 表示開始
    if(days == 0) {
    	document.getElementById("meetingCountTimer").innerHTML = "ミーティング当日です"; // 指定日当日の表示
    }
    else if(days < 0) {
    	days = Math.abs(days);
    	document.getElementById("meetingCountTimer").innerHTML =  days + "日経過"; // 指定日後の表示
    }
    else {
    	document.getElementById("meetingCountTimer").innerHTML = "あと" + days + "日"; // 指定日前の表示
    }
  </script>