<!DOCTYPE html>
<html>
  <head>
    <title>Gachiru. | パートナーとのルール管理アプリ </title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1"> <!-- レスポンシブの導入 -->
    <meta name="keywords" content="夫婦, パートナー, 夫婦円満, 家族、夫婦のルール、家族のルール、カップルのルール、ルール管理"> <!-- キーワードとの関連付け -->
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= include_gon %> <!-- gem 'gon'利用に必要な記述 -->
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/a3d3283c4c.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <link rel="icon" type="image/png" href="<%= asset_path('gachiru_favicon.png') %>">
  </head>

  <body>
    <header>
      <div class="header-area">
        <div class="site-logo">
          <%= link_to home_path do %>
            <%= image_tag 'gachiru_new1.png', size: '200x40' %>
          <% end %>
        </div>
      </div>
      <div class="sign-in-user">
        <% if user_signed_in? %>
          <div class="sign-in-user-profile-image">
            <span>
              <% if @standbyRules.present? || @standbyPenalties.present? || @unacceptedUsers.present? %>
                <i class="fa-solid fa-circle notification-on-picture"></i>
              <% end %>
            </span>
            <% if current_user.profile_image.attached? %>
              <%= image_tag current_user.profile_image.variant(gravity: :center, resize:"40x40^", crop:"40x40+0+0"), class: "sign-in-user-profile-image-cta" %>
            <% else %>
              <%= image_tag("f_f_event_98_s512_f_event_98_0bg.jpg", style: "width: 40px; height: 40px;", class: "sign-in-user-profile-image-cta") %>
            <% end %>
          </div>
        <% else %>
          <div class="user-sign-in"><%= link_to "ログイン", new_user_session_path, class: "user-sign-in-cta" %></div>
        <% end %>
      </div>
      <div class="slide-menu">
        <% if user_signed_in? %>
          <div class="slide-menu-user-name"><%= current_user.name %></div>
          <ul class="slide-menu-list">
            <li>
              <span>
                <% if @standbyRules.present? || @standbyPenalties.present? || @unacceptedUsers.present? %>
                  <i class="fa-solid fa-circle"></i>
                <% end %>
              </span>
              <span><%= link_to "通知BOX", receive_path %></span>
            </li>
            <li><%= link_to "コミュニティ一覧", top_path %></li>
            <li><%= link_to "ユーザー情報変更", edit_user_path(current_user.id) %></li>
            <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
            <li><%= link_to "利用規約", terms_path %></li>
            <li><%= link_to "プライバシーポリシー", policy_path %></li>
            <li><%= link_to "TOP", home_path %></li>
          </ul>
        <% else %>
          <ul class="slide-menu-list">
            <li><%= link_to "TOPページ", root_path %></li>
            <li><%= link_to "新規登録", new_user_registration_path %></li>
            <li><%= link_to "ログイン", new_user_session_path %></li>
            <li>利用規約</li>
            <li>プライバシーポリシー</li>
          </ul>
        <% end %>
      </div>
    </header>
    <main>
      <% if notice.present? %>
          <div id="notice" class="notice">
            <div class="notice-image"><%= image_tag("completed.png", style: "width: 200px; height: 200px;") %></div>
            <%= notice %>
          </div>
      <% end %>
      <%= yield %>
    </main>
    <script>
      //コメントの表示/非表示
        $(document).ready(function() {
          $(".fa-circle-info").click(function() {
            $(this).siblings(".comment-content").toggle();
          });
        });

      //slide-menuの表示・非表示
        var profileImage = document.querySelector('.sign-in-user-profile-image-cta');
        var slideMenu = document.querySelector('.slide-menu');

        if (profileImage) {
          if (addEventListener) {
            profileImage.addEventListener('click', () => {
              slideMenu.classList.toggle('show-menu'); // show-menuクラスをトグルで付与・削除する
            });

            document.addEventListener('click', (event) => {
              if (!event.target.closest('.slide-menu') && !event.target.matches('.sign-in-user-profile-image-cta')) {
                // クリックされた要素がslide-menu自体ではなく、かつprofileImageでもない場合、show-menuクラスを削除する
                slideMenu.classList.remove('show-menu');
              }
            });
          }
        }

      //コミュニティ詳細表示の動き
        $(document).ready(function() {
          // コンテンツを非表示にする
          $('.community-info-window').hide();
          
          // クリックされたらコンテンツを表示する
          $('.community-basic-info-detail-cta').click(function() {
            $('.community-info-window').show();
          });
          
          // コンテンツ以外がクリックされたら非表示にする
          $(document).on('click', function(e) {
            if (!$(e.target).closest('.community-info-window, .community-basic-info-detail-cta').length) {
              $('.community-info-window').hide();
            }
          });
        });

      //ゴール達成までのカウントダウン
        var goalTimerTrigger = document.querySelector('#goalCountTimer');
        if (goalTimerTrigger) { //goalCountTimerがhtmlに存在する場合のみにスクリプトを実行
          // タイマーの日付を設定
          var countDownDate = new Date(gon.deadline).getTime();
          // 1秒おきに更新
          var x = setInterval(function() {
            // 今日の日付と時間を取得
            var now = new Date().getTime();
            // 日付と時間の計算
            var distance = countDownDate - now;
            var days = Math.floor(distance / (1000 * 60 * 60 * 24));
            var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
            var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
            var seconds = Math.floor((distance % (1000 * 60)) / 1000);
            // 出力する内容
            if (document.getElementById("goalCountTimer") && distance < 0) { // タイマー終了後
              document.getElementById("goalCountTimer").innerHTML = "制限時間終了です";
              clearInterval(x);
            } else if(document.getElementById("goalCountTimer")) { // 期限内
              document.getElementById("goalCountTimer").innerHTML = days + "<span>日</span>" + hours + "<span>時間</span>" + minutes + "<span>分</span>" + seconds + "<span>秒</span>";
            }
          }, 1000);
        }

      //次のミーティングまでのカウントダウン
        var meetingTimerTrigger = document.querySelector('#meetingCountTimer');
        if (meetingTimerTrigger) { //meetingCountTimerがhtmlに存在する場合のみにスクリプトを実行
          //指定日程を定義
          var y = gon.year; // 年
          var m = gon.month; // 月
          var d = gon.day; // 日
          var tgday = y + "/" + m + "/" + d;

          var now = new Date();
          var days = Math.ceil((Date.parse(tgday) - now.getTime()) / (24 * 60 * 60 * 1000));

          // 表示開始
          if(document.getElementById("meetingCountTimer") && days == 0) {
            document.getElementById("meetingCountTimer").innerHTML = "会議当日です"; // 指定日当日の表示
          }
          else if(document.getElementById("meetingCountTimer") && days < 0) {
            days = Math.abs(days);
            document.getElementById("meetingCountTimer").innerHTML =  days + "日経過"; // 指定日後の表示
          }
          else if(document.getElementById("meetingCountTimer")){
            document.getElementById("meetingCountTimer").innerHTML = "あと" + days + "日"; // 指定日前の表示
          }
        }
      
      // 5秒後にnoticeを非表示にする関数
        setTimeout(function() {
          var noticeElement = document.getElementById("notice");
          if (noticeElement) {
            noticeElement.style.display = "none";
          }
        }, 5000);

      // notice以外をクリックするとnoticeを非表示にするイベントリスナー
        document.addEventListener('click', function(event) {
          if (document.getElementById('notice') && !event.target.closest('#notice')) {
            document.getElementById('notice').style.display = 'none';
          }
        });
        </script>
      </body>
    </html>
