<!DOCTYPE html>
<html>
  <head>
    <title>RuleBook</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= include_gon %> <!-- gem 'gon'利用に必要な記述 -->
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/a3d3283c4c.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <header>
      <div class="header-area">
        <div class="site-logo">
          <%= link_to top_path do %>
            <%= image_tag 'COLABO_logo', size: '70x42' %>
          <% end %>
        </div>
      </div>
      <div class="sign-in-user">
        <% if user_signed_in? %>
          <div class="sign-in-user-profile-image"><%= attachment_image_tag current_user, :profile_image, :fill, 40, 40, format: 'jpeg', fallback: "f_f_event_98_s512_f_event_98_0bg.jpg", size:'40x40', class: "sign-in-user-profile-image-cta"%></div>
        <% end %>
      </div>
      <div class="slide-menu">
        <ul>
        <% if user_signed_in? %>
          <li><%= link_to "通知BOX", receive_path %></li>
          <li><%= link_to "コミュニティ一覧", top_path %></li>
          <li><%= link_to "各種設定", setting_path %></li>
          <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
          <li>利用規約</li>
          <li>プライバシーポリシー</li>
        <% else %>
          <li><%= link_to "TOPページ", root_path %></li>
          <li><%= link_to "新規登録", new_user_registration_path %></li>
          <li><%= link_to "ログイン", new_user_session_path %></li>
          <li>利用規約</li>
          <li>プライバシーポリシー</li>
        <% end %>
        </ul>
      </div>
    </header>
    <main>
      <%= yield %>
    </main>
  </body>
</html>

<script>
  //サイドメニュースライド
  document.querySelector('.sign-in-user-profile-image').addEventListener('click', function(){
    this.classList.toggle('active');
    document.querySelector('.slide-menu').classList.toggle('active');
  })
</script>
